// footer
section.footer

	.footer_tips.container

		.footer_col
			.footer_tip
				.rel_height
					h3 Запись на приём
					p  Сервис «Запись на приём» позволяет самостоятельно подобрать удобное для визита время и отправить заявку на запись в клинику.
				a.showmore(href="#") записаться

		.footer_col
			.footer_tip
				.rel_height
					h3 Отзывы
					p  Сервис «Запись на приём» позволяет самостоятельно подобрать удобное для визита время и отправить заявку на запись в клинику.
				a.showmore(href="#") оставить отзыв

		.footer_col
			.footer_tip
				.rel_height
					h3 Форум
					p  Благодаря системе непрерывного повышения квалификации профессиональный уровень наших врачей всегда остается на высоте.
				a.showmore(href="#") подробнее

	.footer_hr

	.footer_bottom.container
		.footer_col
			img(src="i/medem_logo2.svg" class="footer_logo" alt="")

		.footer_col
			p.footer_addr
				span 191025, Санкт-Петербург, ул. Марата, 6   
				nobr   тел.: +7 (812) 336-3333 
				br
				a(href="mailto:info@medem.ru") info@medem.ru

		.footer_col
			.soc_block 
				a.vk(href="#")
				a.fb(href="#")
				a.in(href="#")

		.footer_col.wide
			p.footer_copyrights Международная клиника МEDEM 
				br
				| © 2006-2015 






include _scripts.jade