/*
* Custom media
*/
@custom-media --w480 (min-width: 480px);
@custom-media --w600 (min-width: 600px);
@custom-media --w768 (min-width: 768px);
@custom-media --w980 (min-width: 992px);
@custom-media --w1025 (min-width: 1025px);
@custom-media --w1200 (min-width: 1200px);
@custom-media --w1400 (min-width: 1400px);
@custom-media --w1600 (min-width: 1580px);

/*
* Variables
*/


/*
* Colors
*/
$blue: #69ace5;


/*
* Lost variables
*/
@lost gutter 30px;

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
