// section news
section.section_news
    .container

        h2 Новости клиники

        .news_tizers
        
            .news_tizer_row

                .news_tizer_one
                    span.date 15.06.2005

                    .rel_height
                        a(href="#")
                            h3 Летние акции и спецпредложения клиники MEDEM
                        p.news_tizer_one__text 
                            |  Уважаемые пациенты, лето - отличная пора для того, чтобы укрепить свое здоровье перед холодным сезоном, вылечить заболевания, что давно тревожат, пройти диагностику или профилактический осмотр...
                    
                    a.showmore(href="#") подробнее

                .news_tizer_one
                    span.date 15.06.2005

                    .rel_height
                        a(href="#")
                            h3 Первая помощь в случае остановки сердца или дыхания
                        p.news_tizer_one__text 
                            |  Лето - прекрасная пора положительных эмоций и долгожданных отпусков. Однако, кроме приятных моментов, лето таит в себе и некоторые опасности...
                    a.showmore(href="#") подробнее


                .news_tizer_one
                    span.date 15.06.2005
                    
                    .rel_height
                        a(href="#")
                            h3 Клиника MEDEM выступила официальным партнером XX Петербургского губернаторского теннисного турнира
                        p.news_tizer_one__text 
                            |  Международная клиника MEDEM в этом году выступила официальным партнером мероприятия и подготовила победителям турнира особые подарки — именные сертификаты на оказание медицинских услуг...
                    a.showmore(href="#") подробнее


        // a(href="#").btn вcе новости
