/*
* Third Party
*/
@import "../../bower_components/normalize-css/normalize.css";
/*@import "../../bower_components/magnific-popup/dist/magnific-popup.css";*/
@import "../../bower_components/Swiper/dist/css/swiper.min.css";
/*@import "../../bower_components/ion.rangeslider/css/ion.rangeSlider.css";*/
/*@import "../../bower_components/fotorama/fotorama.css";*/
/*@import "../../node_modules/nprogress/nprogress.css";*/


/*
* Parts
*/
@import "parts/reset";
@import "parts/fonts";
@import "parts/variables";
@import "parts/common";
@import "test"; /* remove on prod */


/*
*	Header
*/

.top_line {
	min-height: 29px;
	border-bottom: 1px solid #bfc0c2;
	background-color: #fff;

	&:after {
		content: '';
		display: block;
		clear: both;
	}
} 

.lang_select {
	display: none;

	@media (--w768) {
		display: inline-block;
	}

	a {
		display: inline-block;
		width: 16px;
		height: 16px;
		border: 2px solid #bfc0c2;
		border-radius: 50%;
		margin-right: 10px;
		margin-top: 3px;
		box-sizing: content-box;

		&.en {
			background: url(../i/en.png) center center no-repeat;
		}

		&.ru {
			background: url(../i/ru.png) center center no-repeat;
		}

		&.active {
			border-color: $blue;
		}
	}
}

.good_notes {
	padding-left: 30px;
	height: 27px;
	font-size: 12px;
	line-height: 27px;
	display: inline-block;
	background: url(../i/good_notes.png) left center no-repeat;
	
	

	@media (--w768) {
		padding-left: 25px;
		margin-right: 20px;
	}

	a {
		text-decoration: underline;
		color: $blue;
	}
}

.appoint {
	background-color: $blue;
	width: inherit;
	margin: 0 -20px;
	height: 29px;
	background-image: svg("arr_r", "[stroke]: #fff");
	
	background-size: 10px;
	background-repeat: no-repeat;
	display: block;
	background-position: 27px center;
	padding-left: 50px;
	color: #fff;
	font-size: 12px;
	line-height: 27px;
	
	text-transform: uppercase;

	@media (--w768) {
		width: 200px;
		display: inline-block;
		margin: 0;
		background-position: 30px center;
		padding-left: 55px;
		text-decoration: underline;
	}
}

.search_block {
	background: #fff url(../i/search_icon.png) left center no-repeat;
	height: 28px;
	padding-left: 35px;

	display: none;

	@media (--w980) {
		display: inline-block;
	}

	input[type=text] {
		border: 0;
		height: 28px;
		width: 165px;
		outline: none;
		padding-left: 10px;
		font-size: 12px;
	}
}

.right_side {
	
	@media (--w768) {
		float: right;
	}

}

.header_content {
	padding: 5px 0;
	
	position: relative;

	@media (--w980) {
		padding: 27px 0;
		min-height: 175px;
	}
}

.logo {
	display: inline-block;
	margin: 10px 30px 10px 0;

	@media (--w980) {
		margin: 0 0 30px 0;
	}
}

.main_menu {
	display: none;
	

	@media (--w980) {
		position: absolute;
		bottom: 0;
		right: 0;
		display: inline-block;
		text-align: right;
	}
	
	a {	
		color: #808285;
		font-weight: 400;
		width: 100%;
		font-size: 12px;
		line-height: 30px;
		display: block;
		text-transform: uppercase;

		@media (--w980) {
			margin-left: 20px;
			font-size: 15px;
			line-height: 15px;
			width: auto;
			display: inline-block;
		}
	}
}

.mobile_menu {
	width: 23px;
	height: 30px;
	background: url(../i/mobile_menu.png) center center no-repeat;
	
	cursor: pointer;

	@media (--w980) {
		display: none;
	}

	&.is-opened {
		display: block;
	}
}

.mobile_hr {
	margin: 10px -20px;
	height: 1px;
	background-color: #bfc0c2;

	@media (--w768) {
		display: none;
		&.t2 {
			display: block;
		}
	}

	@media (--w980) {
		display: none;
		&.t2 {
			display: none;
		}
	}
}

.contact_block {
	

	@media (--w768) {
		text-align: right;
		float: right;
		margin-top: 50px;
	}


	.phone_number {
		font-size: 18px;
		line-height: 18px;
		color: $blue;
		font-weight: 600;

		&:before {
			content: '';
			width: 21px;
			height: 21px;
			background: url(../i/phone_icon.png) center center no-repeat;
			background-size: 100%;
			display: inline-block;
			margin: 0px 5px 0 0;
			vertical-align: top;

			@media (--w768) {
				width: 36px;
				height: 36px;
				margin: -3px 10px 0 0;
			}
		}

		@media (--w768) {
			font-size: 30px;
			line-height: 30px;
		}
	}

	.addr {
		font-size: 12px;
		color:#808285;
		line-height: 18px;
	}
}



/*
*	big slider
*/

.big_slider {
	
	.swiper-slide {
		height: 400px;

		@media (--w768) {
			height: 500px;
		}
	}

	.swiper-pagination-bullet {
		width: 15px;
		height: 15px;
		background-color: #fff;
		border: 2px solid $blue;
		opacity: 1;
	}

	.swiper-pagination-bullet-active {
		position: relative;

		&:before {
			content: '';
			width: 7px;
			height: 7px;
			border-radius: 50%;
			background-color: $blue;
			position: absolute;
			top: 2px;
			left: 2px;
		}
	}

	.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
	    top: 100px;
	    height: 20px;

	    @media (--w768) {
	    	top: 260px;
	    }

	    @media (--w980) {
	    	bottom: 20px;
	    	top: auto;
	    }
	}

}

.one_big_slide {
	height: 100%;
	position: relative;
	padding-top: 165px;
	overflow: hidden;
	background-color: $blue;
	z-index: 1;

	.big_slide_pic {
		background-size: cover;
		height: 140px;
		width: 100%;
		
		position: absolute;
		top: 0;
		left: 0;

		@media (--w768) {
			height: 300px;
		}

		@media (--w980) {
			height: 100%;
			z-index: -1;
		}
	}

	@media (--w768) {
		padding-top: 310px;
	}

	@media (--w980) {
		padding-top: 40px;
	}

	&:before {
		width: 1000px;
		height: 1000px;
		border-radius: 50%;
		background-color: rgba(0,0,0,0.5);
		content: '';
		position: absolute;
		top: -300px;
		left: -200px;
		display: none;

		@media (--w980) {
			display: block;
			z-index: 0;
		}
	}

	h2 {
		font-size: 24px;
		line-height: 28px;
		color: #fff;
		font-weight: 600;
		text-transform: uppercase;
		margin-bottom: 15px;

		@media (--w980) {
			font-size: 44px;
			line-height: 52px;
			margin-bottom: 30px;
		}
	}

	p {
		font-size: 14px;
		line-height: 17px;
		color: #fff;
		font-weight: 300;
		
		margin-bottom: 30px;

		@media (--w980) {
			width: 50%;
			font-size: 17px;
			line-height: 20px;
		}
	}

	hr {
		margin: 20px -20px;
		height: 1px;
		border: 0;
		border-top: 1px solid #fff;

		@media (--w980) {
			margin: 30px 0;
			width: 45%;
		}
	}

	.all_links {
		font-size: 14px;
		line-height: 17px;
		color: #fff;
		font-weight: 300;
		text-decoration: underline;
		text-transform: uppercase;

		@media (--w980) {
			font-size: 17px;
			line-height: 20px;
			text-transform: none;
		}
	}

	.showmore {
		width: 37px;
		height: 37px;
		overflow: hidden;
		display: block;
		position: absolute;
		bottom: -15px;
		right: 0px;

		@media (--w980) {
			width: auto;
			overflow: visible;
			position: relative;
			bottom: auto;
			right: auto;
		}
	}


}



/*
*	section_news
*/
.section_info {
	padding: 40px 0 60px;
	
	h2 {
		color: $blue;
		font-size: 24px;
		line-height: 24px;
		margin-bottom: 20px;
		text-transform: uppercase;
		text-align: center;
		font-weight: 600;

		@media (--w980) {
			font-size: 34px;
			line-height: 34px;
			margin-bottom: 30px;
		}
	}
}

.info_text {
	color: #808285;
	font-size: 14px;
	line-height: 17px;
	margin-bottom: 20px;
	font-weight: 300;
	text-align: center;

	p {
		margin-bottom: 15px;
	}

	.btn {
		margin: 30px auto 0;
		width: 200px;
	}
}

.js-slider-info-tips {
	overflow: hidden;
	margin-top: 60px;
	margin-bottom: 30px;

	.swiper-wrapper {
		font-size: 0;
		
	}

	.swiper-container {
	    width: 100%;

	}

	.swiper-slide {
        display: inline-block;
    }


    .swiper-button-next, .swiper-button-prev {
        position: absolute;
        top: 36px;
        width: 55px;
        
        margin-top: 0px;
        z-index: 2;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.5);
        background-size: 27px 44px;
        background-position: 50%;
        background-repeat: no-repeat;

        height: 160px;

        @media (--w768) {
        	height: 135px;
        }

        @media (--w980) {
        	height: 185px;
        }


    }

    .swiper-button-next {
    	right: 0;
    	background-image: svg("arr_r", "[stroke]: $blue");
    	position: center center;
    	background-size: 16px;
		background-repeat: no-repeat;

    }

    .swiper-button-prev {
    	left: 0;
    	background-image: svg("arr_l", "[stroke]: $blue");
    	position: center center;
    	background-size: 16px;
		background-repeat: no-repeat;
    }


}

.info_tip {
	border-top: 1px solid $blue;
	border-bottom: 1px solid $blue;
	padding: 35px 0 25px;

	img {
		display: block;
		max-width: 100%;
		margin-bottom: 15px;
	}

	h3 {
		color: $blue;
		font-size: 14px;
		line-height: 17px;
		margin-bottom: 10px;
		font-weight: 400;
		text-transform: uppercase;

		@media (--w768) {
			min-height: 34px;
		}

		@media (--w980) {
			min-height: 0;
			font-size: 16px;
			line-height: 20px;
			margin-bottom: 15px;
			font-weight: 700;
		}
	}

	p {
		color: #808285;
		font-size: 14px;
		line-height: 17px;
		margin-bottom: 20px;
		font-weight: 300;

		display: none;

		@media (--w980) {
			display: block;
		}
	}

	.showmore {
		display: none;

		@media (--w980) {
			display: block;
		}
	}


}



/*
*	section_news
*/
.section_news {
	padding: 40px 0 60px;
	background-color: #f0f0f0;

	h2 {
		color: $blue;
		font-size: 24px;
		line-height: 24px;
		margin-bottom: 20px;
		text-transform: uppercase;
		text-align: center;
		font-weight: 600;

		@media (--w980) {
			font-size: 34px;
			line-height: 34px;
			margin-bottom: 30px;
		}
	}

	.btn {
		margin: 30px auto 0;
		width: 200px;
	}
}

.news_tizers {
	lost-utility: clearfix;
}

.news_tizer_one {
	lost-column: 1/1 1 10px no-flex;
	border-top: 1px solid $blue;
	border-bottom: 1px solid $blue;
	padding: 25px 0 15px;
	margin-top: -1px;

	@media (--w768) {
		lost-column: 1/3 3 10px no-flex;
		margin-top: 0;
		padding: 35px 0 25px;
	}

	.date {
		font-size: 14px;
		line-height: 14px;
		display: block;
		margin-bottom: 20px;
		font-weight: 300;
		color: #808285;
	}

	h3 {
		color: $blue;
		font-size: 14px;
		line-height: 17px;
		margin-bottom: 10px;
		font-weight: 400;
		text-transform: uppercase;

		@media (--w980) {
			font-size: 16px;
			line-height: 20px;
			margin-bottom: 15px;
			font-weight: 700;
		}
	}

	p {
		color: #808285;
		font-size: 14px;
		line-height: 17px;
		margin-bottom: 20px;
		font-weight: 300;
		display: none;

		@media (--w980) {
			display: block;
		}
	}

	.showmore {
		display: none;

		@media (--w980) {
			display: block;
		}
	}
}




/*
*	Footer
*/
.footer {
	background-color: $blue;
	padding: 15px 0;
	color: #fff;

	@media (--w980) {
		padding: 30px 0 70px;
	}

	a {
		color: #fff;
	}
}

.footer .container {
	lost-utility: clearfix;
}

.footer_col {
	lost-column: 1/1 1 30px no-flex;
	margin-bottom: 20px;

	@media (--w980) {
		lost-column: 1/3 3 10px no-flex;
		margin-bottom: 0;
	}

	&.wide {
		lost-column: 1/1 1 30px no-flex;
	}
}

.footer_addr {
	font-size: 14px;
	line-height: 17px;
	font-weight: 300; 
}



.footer_logo {
	width: 311px;
	height: 40px;
	margin-top: -11px;
	max-width: 280px;
}

.footer_tip {
	position: relative;
	border-bottom: 1px solid #fff;
	margin: 0 -20px;
	padding: 0 20px;

	@media (--w980) {
		border-bottom: 0;
		margin: 0;
		padding: 0;
	}

	h3 {
		font-weight: 600;
		text-transform: uppercase;
		font-size: 14px;
		line-height: 37px;
		margin-bottom: 12px;

		@media (--w980) {
			font-size: 24px;
			line-height: 24px;
			margin-bottom: 18px;
		}
	}

	p {
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
		margin-bottom: 10px;
		min-height: 80px;
		font-weight: 300;

		display: none;

		@media (--w980) {
			display: block;
		}
	}

	.showmore {
		width: 37px;
		height: 37px;
		overflow: hidden;
		display: block;
		position: absolute;
		top: 0;
		right: 20px;

		@media (--w980) {
			width: auto;
			overflow: visible;
			position: relative;
			top: auto;
			right: auto;
		}
	}

	
}

.footer_hr {
	width: 100%;
	height: 1px;
	background-color: #fff;
	margin: 23px 0 47px;

	display: none;

	@media (--w980) {
		display: block;
	}
}

.footer_copyrights {
	font-size: 14px;
	line-height: 17px;
	font-weight: 300;
	margin-top: 0px;

	@media (--w980) {
		margin-top: 30px;
	}
}