/*
* Third Party
*/
@import "../../bower_components/normalize-css/normalize.css";
/*@import "../../bower_components/magnific-popup/dist/magnific-popup.css";*/
@import "../../bower_components/Swiper/dist/css/swiper.min.css";
/*@import "../../bower_components/ion.rangeslider/css/ion.rangeSlider.css";*/
/*@import "../../bower_components/fotorama/fotorama.css";*/
/*@import "../../node_modules/nprogress/nprogress.css";*/


/*
* Parts
*/
@import "parts/reset";
@import "parts/fonts";
@import "parts/variables";
@import "parts/common";
@import "test"; /* remove on prod */


/*
*	Header
*/

.header {
	position: relative;
}

.top_line {
	min-height: 29px;
	border-bottom: 1px solid #bfc0c2;
	background-color: #fff;

	.container {
		position: static;
	}

	&:after {
		content: '';
		display: block;
		clear: both;
	}
} 

.lang_select {
	display: none;

	@media (--w768) {
		display: inline-block;
	}

	a {
		display: inline-block;
		width: 16px;
		height: 16px;
		border: 2px solid #bfc0c2;
		border-radius: 50%;
		margin-right: 6px;
		margin-left: 6px;
		margin-top: 5px;
		box-sizing: content-box;

		&.en {
			background: url(../i/en.png) center center no-repeat;
		}

		&.ru {
			background: url(../i/ru.png) center center no-repeat;
		}

		&.active {
			border-color: $blue;
		}
	}
}

.good_notes {
	padding-left: 30px;
	height: 30px;
	font-size: 12px;
	line-height: 27px;
	display: inline-block;
	background: url(../i/good_notes.png) left center no-repeat;
	margin-left: 8px;
	

	@media (--w768) {
		padding-left: 40px;
    	margin-right: 26px;
		height: 27px;
		margin-left: 0;
	}

	a {
		
		color: $blue;

		@media (--w768) {
			text-decoration: underline;
		}
	}
}

.appoint {
	background-color: $blue;
	width: inherit;
	margin: 0 -20px;
	
	background-image: svg("arr_r", "[stroke]: #fff");
	height: 29px;
	background-size: 8px;
	background-repeat: no-repeat;
	display: block;
	background-position: 34px center;
	padding-left: 58px;
	color: #fff;
	font-size: 12px;
	line-height: 28px;
	
	text-transform: uppercase;


	@media (--w768) {
		display: inline-block;
		margin: 0;
		background-position: 30px center;
		padding: 0 52px 0 55px;
		text-decoration: underline;
	}

	@media (--w980) {
		padding: 0 32px 0 55px;
	}

	@media (--w1400) {
		padding: 0 80px 0 100px;
		background-position: 74px;
    	background-size: 10px;
	}


}

.search_block {
	background: #fff url(../i/search_icon.png) left center no-repeat;
	height: 28px;
	padding-left: 35px;
	display: none;

	@media (--w980) {
		display: inline-block;
	}

	@media (--w1400) {
		margin-right: 75px;
	}

	input[type=text] {
		border: 0;
		height: 28px;
		width: 165px;
		outline: none;
		padding-left: 10px;
		font-size: 12px;
	}
}

.mob_search_block {
	background: #fff url(../i/search_icon.png) right -1px center no-repeat;
	height: 28px;
	padding-right: 25px;
	position: absolute;
	top: 223px;
   	right: 0;

	input[type=text] {
		border: 0;
		height: 28px;
		width: 120px;
		outline: none;
		padding-left: 10px;
		font-size: 12px;
	}

	@media (--w768) {
		top: 170px;
		right: 20px;
	}

	@media (--w980) {
		display: none;
	}
}

.right_side {
	
	@media (--w768) {
		float: right;
		margin-right: -20px;
	}

	@media (--w980)  {
		margin-right: -30px;
	}

	@media (--w1400)  {
		margin-right: -30px;
	}

}

.header_content {
	padding: 5px 0;
	position: relative;

	@media (--w980) {
		padding: 27px 0 0;
		min-height: 175px;
	}
}

.logo {
	display: inline-block;
	margin: 22px 30px 22px 8px;

	@media (--w980) {
		margin: 0 0 30px 0;
	}
}

.main_menu {
	display: none;
	margin: 10px;

	@media (--w980) {
		position: absolute;
		bottom: 30px;
		right: 40px;
		display: inline-block;
		text-align: right;
		margin: 0;
	}
	
	a {	
		color: #808285;
		width: 100%;
		font-size: 12px;
		line-height: 30px;
		display: block;
		text-transform: uppercase;
		font-weight: 600;

		@media (--w980) {
			margin-left: 20px;
			font-size: 15px;
			line-height: 15px;
			width: auto;
			display: inline-block;
		}
	}
}

.mobile_menu {
	width: 23px;
	height: 18px;
	background: url(../i/mobile_menu.png) center center no-repeat;
	margin-left: 8px;
	cursor: pointer;

	@media (--w980) {
		display: none;
	}

	&.is-opened {
		display: block;
	}
}

.mobile_hr {
	margin: 6px -20px;
	height: 1px;
	background-color: #bfc0c2;

	@media (--w768) {
		display: none;
		&.t2 {
			display: block;
		}
	}

	@media (--w980) {
		display: none;

		&.t2 {
			display: none;
		}
	}
}

.contact_block {
	margin-left: 8px;

	@media (--w768) {
		text-align: right;
		float: right;
		margin-top: 65px;
		margin-left: 0;
		margin-right: 30px;
	}

	@media (--w980) {
		margin-top: 30px;
		margin-left: 0;
		margin-right: 10px;
	}


	.phone_number {
		font-size: 18px;
		line-height: 18px;
		color: $blue;
		font-weight: 600;

		a {
			color: $blue;
		}

		&:before {
			content: '';
			width: 21px;
			height: 21px;
			background: url(../i/phone_icon.png) center center no-repeat;
			background-size: 100%;
			display: inline-block;
			margin: 0px 8px 0 0;
			vertical-align: top;

			@media (--w768) {
				width: 36px;
				height: 36px;
				margin: -3px 10px 0 0;
			}
		}

		@media (--w768) {
			font-size: 30px;
			line-height: 30px;
		}
	}

	.addr {
		font-size: 12px;
		color:#808285;
		line-height: 18px;
		font-weight: 600;
	}
}


/*
*	big slider
*/

.big_slider {
	margin: 0 auto;

	@media (--w1600) {
		max-width: 1580px;
	}

	.container {
		margin: 0 auto;
		width: 100%;
	}
	
	.swiper-slide {
		height: auto;		
	}

	.swiper-container {
		@media (--w980) {
			margin: 0 -30px;
		}

		@media (--w1200) {
			margin: 0 -30px;
		}

		@media (--w1400) {
			margin: 0 -30px;
		}
	}

	.swiper-pagination-bullet {
		width: 18px;
		height: 18px;
		background-color: $blue;
		border: 3px solid #fff;
		opacity: 1;
		margin: 0 7px;
	}

	.swiper-pagination-bullet-active {
		position: relative;

		&:before {
			content: '';
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background-color: #fff;
			position: absolute;
			top: 2px;
			left: 2px;
		}
	}

	.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
	    top: 105px;
	    height: 20px;

	    @media (--w768) {
	    	top: 260px;
	    }

	    @media (--w980) {
	    	bottom: 35px;
	    	top: auto;
	    }
	}

}

.one_big_slide {
	height: 100%;
	position: relative;
	overflow: hidden;
	background-color: $blue;
	z-index: 1;

	.container {
		padding-left: 30px;

		@media (--w980) {
			position: absolute;
			bottom: 20px;
		}

		@media (--w1200) {
			padding-left: 30px;
		}

		@media (--w1400) {
			padding-left: 30px;
		}
	}


	.big_slide_pic {
		height: auto;
		width: calc(100% + 60px);
		margin-bottom: 45px;
		margin: 0 -30px 45px;

		@media (--w768) {
			width: calc(100% + 100px);
			margin: 0 -50px 45px;
		}

		@media (--w980) {
			width: calc(100% + 170px);
			margin: 0 -85px;
			z-index: -1;
		}

		@media (--w1400) {
			width: calc(100% + 50px);
    		margin: 0px -50px;
		}
	}

	&:before {
		width: 1000px;
		height: 1000px;
		border-radius: 50%;
		background-color: rgba(0,0,0,0.5);
		content: '';
		position: absolute;
		display: none;

		@media (--w980) {
			display: block;
			z-index: 0;
			top: -300px;
			left: -310px;
		}

		@media (--w1400) {
			width: 1500px;
			height: 1500px;
			display: block;
			z-index: 0;
			top: -500px;
			left: -800px;
		}
	}

	h2 {
		font-size: 23px;
		line-height: 28px;
		color: #fff;
		font-weight: 600;
		text-transform: uppercase;
		margin-bottom: 15px;

		br {

			@media (--w768) {
				display: none;
			}

			@media (--w980) {
				display: block;
			}
		}

		@media (--w980) {
			font-size: 44px;
			line-height: 52px;
			margin-bottom: 30px;
		}
	}

	p {
		font-size: 14px;
		line-height: 17px;
		color: #fff;
		font-weight: 300;
		margin-bottom: 26px;
		margin-right: 30px;
		min-height: 70px;

		@media (--w768) {
			min-height: 0;
		}

		@media (--w980) {
			width: 60%;
			font-size: 17px;
			line-height: 20px;
			margin-right: 0;
		}

		@media (--w1400) {
			width: 40%;
		}
	}

	hr {
		margin: 20px 0 20px -30px;
		height: 1px;
		border: 0;
		border-top: 1px solid #fff;
		display: block;
		text-align: left;

		@media (--w980) {
			margin: 35px 0 30px;
			width: 45%;
		}

		@media (--w1400) {
			width: 35%;
		}
	}

	.all_links {
		font-size: 13px;
		line-height: 16px;
		color: #fff;
		font-weight: 300;
		margin-bottom: 20px;
		display: block;
		text-transform: uppercase;

		@media (--w980) {
			font-size: 17px;
			line-height: 20px;
			text-transform: none;
			
		}
	}

	.showmore {
		width: 37px;
		height: 37px;
		overflow: hidden;
		display: block;
		position: absolute;
		bottom: -20px;
    	right: 30px;

    	@media (--w768) {
			right: 52px;
    	}

		@media (--w980) {
			width: auto;
			overflow: visible;
			position: relative;
			bottom: auto;
			right: auto;
		}
	}


}



/*
*	section_news
*/
.section_info {
	padding: 40px 0 47px;

	@media (--w980) {
		padding: 40px 0 60px;
	}
	
	h2 {
		color: $blue;
		font-size: 24px;
		line-height: 28px;
		margin-bottom: 17px;
		text-transform: uppercase;
		text-align: center;
		font-weight: 600;

		@media (--w980) {
			font-size: 34px;
			line-height: 34px;
			margin-bottom: 20px;
		}
	}
}

.info_text {
	color: #808285;
	font-size: 14px;
	line-height: 17px;
	margin-bottom: 20px;
	font-weight: 300;
	text-align: center;

	p {
		margin-bottom: 15px;
	}

	.btn {
		margin: 23px auto 0;
		width: 200px;

		@media (--w768) {
			margin: 20px auto 0;
		}
	}
}

.info-tips-slider {
	position: relative;

    .swiper-button-next, .swiper-button-prev {
        position: absolute;
        top: 10px;
        width: 55px;
        margin-top: 0px;
        z-index: 2;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.5);
        background-size: 27px 44px;
        background-position: 50%;
        background-repeat: no-repeat;
        height: 180px;

        @media (--w768) {
        	height: 130px;
        }

        @media (--w980) {
        	top: 7px;
        	height: 180px;
        }

        @media (--w1200) {
        	height: 215px;
        }
    }

    .swiper-button-next {
    	right: 0;
    	background-image: svg("arr_r", "[stroke]: $blue");
    	background-position: center center;
    	background-size: 16px;
		background-repeat: no-repeat;

		@media (--w1600) {
			height: 265px;
			right: -55px;
		}

    }

    .swiper-button-prev {
    	left: 0;
    	background-image: svg("arr_l", "[stroke]: $blue");
    	background-position: center center;
    	background-size: 16px;
		background-repeat: no-repeat;

		@media (--w1600) {
			height: 265px;
			left: -55px;
		}
    }

}

.js-slider-info-tips {
	overflow: hidden;
	margin-top: 47px;
	margin-bottom: 27px;

	@media (--w768) {
		margin-bottom: 30px;
	}

	@media (--w980) {
		margin-top: 60px;
		margin-bottom: 30px;
	}

	.swiper-wrapper {
		font-size: 0;
	}

	.swiper-container {
	    width: 100%;
	}

	.swiper-slide {
        display: inline-block;
    }
}

.info_tip {
	border-top: 1px solid $blue;
	border-bottom: 1px solid $blue;
	padding: 10px 0 20px;

	@media (--w768) {
		padding: 7px 0;
	}

	@media (--w980) {
		padding: 7px 0 17px;
	}

	img {
		display: block;
		max-width: 100%;
		margin: 0 auto 23px;

		@media (--w768) {
			margin-bottom: 25px;
		}

		@media (--w980) {
			margin-bottom: 35px;
		}
	}

	h3 {
		color: $blue;
		font-size: 14px;
		line-height: 14px;
		font-weight: 600;
		text-transform: uppercase;
		text-align: center;

		@media (--w768) {
			min-height: 34px;
			text-align: left;
			margin-bottom: 10px;
			padding-left: 10px;
		}

		@media (--w980) {
			min-height: 0;
			font-size: 16px;
			line-height: 20px;
			margin-bottom: 15px;
		}
	}

	p {
		color: #808285;
		font-size: 14px;
		line-height: 17px;
		margin-bottom: 20px;
		font-weight: 300;
		display: none;

		@media (--w980) {
			display: block;
			min-height: 70px;
			padding-left: 10px;
		}

		@media (--w1400) {
			margin-bottom: 5px;
		}
	}

	.showmore {
		display: none;

		@media (--w980) {
			display: block;
			margin-left: 10px;
		}
	}

}



/*
*	section_news
*/
.section_news {
	padding: 44px 0 48px;
	background-color: #f0f0f0;

	@media (--w980) {
		padding: 40px 0 60px;
	}

	h2 {
		color: $blue;
		font-size: 24px;
		line-height: 24px;
		margin-bottom: 26px;
		text-transform: uppercase;
		text-align: center;
		font-weight: 600;


		@media (--w980) {
			font-size: 34px;
			line-height: 34px;
			margin-bottom: 30px;
		}
	}

	.btn {
		margin: 25px auto 0;
		width: 200px;
	}
}

.news_tizers {
	lost-utility: clearfix;
}

.news_tizer_one {
	lost-column: 1/1 1 10px no-flex;
	border-top: 1px solid $blue;
	border-bottom: 1px solid $blue;
	padding: 23px 0 15px;
	margin-top: -1px;

	@media (--w768) {
		lost-column: 1/3 3 10px no-flex;
		margin-top: 0;
		padding: 23px 0 8px;
	}

	@media (--w980) {
		lost-column: 1/3 3 10px no-flex;
		padding: 35px 0 25px;
	}

	.date {
		font-size: 14px;
		line-height: 14px;
		display: block;
		margin-bottom: 18px;
		font-weight: 300;
		color: #808285;
	}

	h3 {
		color: $blue;
		font-size: 14px;
		line-height: 17px;
		margin-bottom: 5px;
		font-weight: 600;
		text-transform: uppercase;

		@media (--w768) {
			margin-bottom: 10px;
		}

		@media (--w980) {
			font-size: 16px;
			line-height: 20px;
			margin-bottom: 15px;
			font-weight: 700;
		}
	}

	p {
		color: #808285;
		font-size: 14px;
		line-height: 17px;
		margin-bottom: 20px;
		font-weight: 300;
		display: none;

		@media (--w980) {
			display: block;
		}
	}

	.showmore {
		display: none;

		@media (--w980) {
			display: block;
		}
	}

	.rel_height {
		@media (--w768) {
			min-height: 85px;
		}
		@media (--w980) {
			min-height: 180px;
		}
		@media (--w1400) {
			min-height: 150px;
		}
	}
}


/*
*	Footer
*/
.footer {
	background-color: $blue;
	padding: 20px 0;
	color: #fff;

	@media (--w980) {
		padding: 30px 0 70px;
	}

	a {
		color: #fff;
	}
}

.footer .container {
	lost-utility: clearfix;
}

.footer_col {
	lost-column: 1/1 1 30px no-flex;
	margin-bottom: 20px;

	@media (--w980) {
		lost-column: 1/3 3 30px no-flex;
		margin-bottom: 0;
	}

	&.wide {
		lost-column: 1/1 1 30px no-flex;
	}
}

.footer_addr {
	font-size: 14px;
	line-height: 17px;
	font-weight: 300; 
	margin-bottom: 10px;

	@media (--w768) {
		margin-bottom: 0;
	}
}

.footer_logo {
	width: 311px;
	height: 40px;
	margin-top: 0px;
	max-width: 230px;

	@media (--w980) {
		max-width: 330px;
		margin-top: -10px;
	}
}

.footer_tip {
	position: relative;
	border-bottom: 1px solid #fff;
	margin: 0 -20px;
	padding: 2px 20px 21px;

	@media (--w980) {
		border-bottom: 0;
		margin: 0;
		padding: 0;
	}

	h3 {
		font-weight: 600;
		text-transform: uppercase;
		font-size: 14px;
		line-height: 14px;
		margin-bottom: 0px;

		@media (--w980) {
			font-size: 24px;
			line-height: 24px;
			margin-bottom: 20px;
		}
	}

	p {
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
		margin-bottom: 10px;
		font-weight: 300;
		display: none;

		@media (--w980) {
			display: block;
		}
	}

	.showmore {
		width: 37px;
		height: 37px;
		overflow: hidden;
		display: block;
		position: absolute;
		top: -10px;
		right: 32px;

		@media (--w768) {
			right: 45px;
		}

		@media (--w980) {
			width: auto;
			overflow: visible;
			position: relative;
			top: auto;
			right: auto;
		}
	}

	.rel_height {
		@media (--w980) {
			min-height: 120px;
		}

		@media (--w1400) {
			min-height: 100px;
		}
	}
}

.footer_hr {
	width: 100%;
	height: 1px;
	background-color: #fff;
	margin: 23px 0 47px;
	display: none;

	@media (--w980) {
		display: block;
		margin: 20px 0 45px;
	}
}

.footer_copyrights {
	font-size: 14px;
	line-height: 17px;
	font-weight: 300;
	margin-top: 10px;

	@media (--w980) {
		margin-top: 30px;
	}

	br {
		@media (--w768) {
			display: none;
		}
	}
}