/*
* Third Party
*/
@import "../../bower_components/normalize-css/normalize.css";
/*@import "../../bower_components/magnific-popup/dist/magnific-popup.css";*/
@import "../../bower_components/Swiper/dist/css/swiper.min.css";
/*@import "../../bower_components/ion.rangeslider/css/ion.rangeSlider.css";*/
/*@import "../../bower_components/fotorama/fotorama.css";*/
/*@import "../../node_modules/nprogress/nprogress.css";*/


/*
* Parts
*/
@import "parts/reset";
@import "parts/fonts";
@import "parts/variables";
@import "parts/common";
@import "test"; /* remove on prod */


/*
*	Header
*/

.header {
	position: relative;
}

.top_line {
	min-height: 29px;
	border-bottom: 1px solid #bfc0c2;
	background-color: #fff;

	.container {
		position: relative;
		padding: 0;
		margin: 0;

		@media (--w1025) {
			margin: 0 auto;
		}
	}

	&:after {
		content: '';
		display: block;
		clear: both;
	}
}

.lang_select {
	display: inline-block;
	margin-right: -10px;
	margin-left: 10px;

	@media (--w768) {
		position: absolute;
		top: 0;
		left: 10px;
	}

	@media (--w1025) {
		margin-left: 0px;
	}

	a {
		display: inline-block;
		width: 16px;
		height: 16px;
		border: 2px solid #bfc0c2;
		border-radius: 50%;
		margin-right: 6px;
		margin-left: 6px;
		margin-top: 5px;
		box-sizing: content-box;

		&.en {
			background: url(../i/en.png) center center no-repeat;
		}

		&.ru {
			background: url(../i/ru.png) center center no-repeat;
		}

		&.active {
			border-color: $blue;
		}
	}
}

.good_notes {
	padding-left: 30px;
	height: 30px;
	font-size: 12px;
	line-height: 27px;
	display: inline-block;
	background: url(../i/good_notes.png) left center no-repeat;
	margin-left: 20px;


	@media (--w768) {
		padding-left: 40px;
    	margin-right: 26px;
		height: 27px;
		margin-left: 0;
	}

	a {
		font-weight: 600;
		color: $blue;
		text-decoration: underline;

		@media (--w768) {
			text-decoration: underline;
		}
	}
}

.appoint {
	background-color: $blue;
	width: inherit;
	background-image: svg("arr_r", "[stroke]: #fff");
	height: 29px;
	background-size: 8px;
	background-repeat: no-repeat;
	display: block;
	background-position: 22px;
	padding-left: 40px;
	color: #fff;
	font-size: 12px;
	line-height: 28px;
	text-decoration: underline;
	text-transform: uppercase;


	@media (--w768) {
		display: inline-block;
		margin: 0;
		background-position: 30px center;
		padding: 0 52px 0 55px;
		text-decoration: underline;
	}

	@media (--w980) {
		padding: 0 32px 0 55px;
	}

	@media (--w1400) {
		padding: 0 80px 0 100px;
		background-position: 74px;
    	background-size: 10px;
	}


}

.search_block {
	background: #fff url(../i/search_icon.png) left center no-repeat;
	height: 28px;
	padding-left: 35px;
	display: none;

	@media (--w980) {
		display: inline-block;
	}

	@media (--w1400) {
		margin-right: 75px;
	}

	input[type=text] {
		border: 0;
		height: 28px;
		width: 165px;
		outline: none;
		padding-left: 10px;
		font-size: 12px;
	}
}

.mob_search_block {
	background: #fff url(../i/search_icon.png) right -1px center no-repeat;
	height: 28px;
	padding-right: 25px;
	position: absolute;
	top: 228px;
   	right: 0;

	input[type=text] {
		border: 0;
		height: 28px;
		width: 120px;
		outline: none;
		padding-left: 10px;
		font-size: 12px;
	}

	@media (--w768) {
		top: 170px;
		right: 20px;
	}

	@media (--w980) {
		display: none;
	}
}

.right_side {

	@media (--w768) {
		float: right;

	}

	@media (--w980)  {

	}



}

.header_content {
	padding: 5px 0;
	position: relative;

	.container {
		padding: 0;
		margin: 0;
		position: relative;


		@media (--w980) {
			padding: 0 20px;
		}

		@media (--w1025) {
			margin: 0 auto;
			padding: 0;
		}
	}

	@media (--w980) {
		padding: 27px 0 0;
		min-height: 175px;
	}

	@media (--w1400) {
		min-height: 210px;
	}
}

.logo {
	display: inline-block;
	margin: 22px 30px 22px 20px;

	@media (--w980) {
		margin: 0 0 30px 0px;
	}

	@media (--w1025) {
		margin: 0 0 30px 0px;
	}
}

.main_menu {
	display: none;
	margin: 10px;

	@media (--w980) {
		position: absolute;
		bottom: 30px;
		right: 20px;
		display: inline-block;
		text-align: right;
		margin: 0;
	}

	@media (--w1025) {
		bottom: 20px;
		right: 0px;
	}

	@media (--w1400) {
		right: 0px;
		bottom: -20px;
	}


	a {
		color: #808285;
		width: 100%;
		font-size: 12px;
		line-height: 30px;
		display: block;
		text-transform: uppercase;
		font-weight: 600;

		@media (--w980) {
			margin-left: 20px;
			font-size: 15px;
			line-height: 15px;
			width: auto;
			display: inline-block;
		}

		@media (--w980) {
			margin-left: 35px;
			font-size: 15px;
			line-height: 17px;
		}

		&.active {
			color: $blue;
		}


	}
}

.mobile_menu {
	width: 33px;
	height: 20px;
	background: url(../i/mobile_menu.png) center center no-repeat;
	margin-left: 20px;
	cursor: pointer;

	@media (--w980) {
		display: none;
	}

	&.is-opened {
		display: block;
	}
}

.mobile_hr {
	margin: 6px 0px;
	height: 1px;
	background-color: #bfc0c2;

	@media (--w768) {
		display: none;
		&.t2 {
			display: block;
		}
	}

	@media (--w980) {
		display: none;

		&.t2 {
			display: none;
		}
	}
}

.contact_block {
	margin-left: 20px;

	@media (--w768) {
		text-align: right;
		float: right;
		margin-top: 65px;
		margin-left: 0;
		margin-right: 20px;
	}

	@media (--w980) {
		margin-top: 30px;
		margin-left: 0;
		margin-right: 0px;
	}

	@media (--w1025) {
		margin-right: 0px;
		margin-top: 45px;
	}


	.phone_number {
		font-size: 18px;
		line-height: 18px;
		color: $blue;
		font-weight: 600;

		a {
			color: $blue;
		}

		&:before {
			content: '';
			width: 21px;
			height: 21px;
			background: url(../i/phone_icon.png) center center no-repeat;
			background-size: 100%;
			display: inline-block;
			margin: 0px 8px 0 0;
			vertical-align: top;

			@media (--w768) {
				width: 36px;
				height: 36px;
				margin: -3px 10px 0 0;
			}
		}

		@media (--w768) {
			font-size: 30px;
			line-height: 30px;
		}
	}

	.addr {
		font-size: 12px;
		color:#808285;
		line-height: 18px;
		font-weight: 600;
		margin-top: 5px;

		@media (--w768) {
			margin-top: -3px;
		}
	}
}



/*
*	breadcrumbs
*/

.breadcrumbs {
	background: $blue;
	width: 100%;
	margin-bottom: 15px;
	display: none;

	@media (--w768) {
		display: block;
	}

	.container {
		@media (--w768) {
			padding: 0 10px;
		}
	}

}

.breadcrumbs_list {
	overflow: hidden;
	width: 100%;
	height: 27px;
 }

.breadcrumbs_list li{
	float: left;
 }

.breadcrumbs_list a {
	padding: 0 20px 0 30px;
	float: left;
	text-decoration: none;
	color: #fff;
	position: relative;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 13px;
	line-height: 27px;
	background: $blue;
 }

.breadcrumbs_list a.lvl2_menu {
	background: $blue url(../i/popup_onen_icon.png) right 5px center no-repeat;
}

.breadcrumbs_list li:first-child a{
	padding-left: 20px;
}

.breadcrumbs_list a:hover, .breadcrumbs_list a.is-opened {
	background: #fff;
	color: $blue;
}

.breadcrumbs_list a.lvl2_menu:hover,
.breadcrumbs_list a.lvl2_menu.is-opened {
	background: #fff url(../i/popup_onen_icon.png) right 5px center no-repeat;
}

.breadcrumbs_list a::after,
.breadcrumbs_list a::before{
	content: "";
	position: absolute;
	top: 50%;
	margin-top: -15px;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 10px solid;
	right: -10px;
 }

.breadcrumbs_list a::after{
	z-index: 2;
	border-left-color: $blue;
}

.breadcrumbs_list a::before{
	border-left-color: #fff;
	right: -11px;
	z-index: 1;
}

.breadcrumbs_list a:hover::after,
.breadcrumbs_list a.is-opened::after{
	border-left-color: #fff;
}

/*.breadcrumbs_list .is-opened,
.breadcrumbs_list .is-opened:hover{
	background: none;
}*/

/*.breadcrumbs_list .current::after,
.breadcrumbs_list .current::before{
	content: normal;
}
*/

.breadcrumbs_list__second_lvl {
	padding: 10px 0;
	background-color: $blue;
	display: none;
	border-top: 1px solid #fff;

	.container {
		lost-center: 100%;
		lost-utility: clearfix;
	}

	a {
		display: block;
		height: 27px;
		font-size: 13px;
		line-height: 27px;
		font-weight: 600;
		color: #fff;
		padding-left: 20px;
		background-color: #78b4e8;
		margin-bottom: 1px;
		width: 100%;

		@media (--w768) {
			lost-column: 1/3 3 10px no-flex;
		}

		&:hover {
			box-shadow: inset 7px 0 0 #fff;
		}
	}
}


/*
*	page_headline
*/
.page_headline {
	margin-top: 10px;

	@media (--w768) {
		margin-top: 40px;
	}

	h1 {
		font-size: 24px;
		line-height: 24px;
		margin-bottom: 10px;
		text-transform: uppercase;
		font-weight: 600;
		color: $blue;

		@media (--w768) {
			font-size: 34px;
			line-height: 34px;
			margin-bottom: 20px;
		}
	}


}

.page_headline__text {
	font-size: 14px;
	line-height: 16px;
	color: #808285;
	margin-bottom: 10px;

	font-weight: 300;

	@media (--w768) {
		width: 70%;
		margin-bottom: 25px;
	}
}


.navigation {
	margin-bottom: 40px;
	font-size: 0;
	lost-center: 100%;
	position: relative;

	.container {
		@media (--w768) {
			padding: 0 10px;
		}

	}
}

.derection_selector {
	background: $blue url(../i/arr_b_white.png) right 20px top 16px no-repeat;
	color: #fff;
	font-weight: 600;
	height: 38px;
	line-height: 38px;
	font-size: 16px;
	padding: 0 22px;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	border-bottom: 4px solid $blue;
	cursor: pointer;
	user-select: none;
	margin-bottom: 10px;

	@media (--w768) {
		lost-column: 1/5 2 10px no-flex;
		margin-bottom: 0;
	}

	&.is-opened {
		color: $blue;
		border-bottom: 4px solid $blue;
		background: #fff url(../i/arr_b_blue.png) right 20px top 16px no-repeat;
	}
}

.search_box {
	display: inline-block;
	vertical-align: top;
	padding: 4px;
	background-color: $blue;
	height: 38px;
	width: 100%;
	margin-bottom: 10px;

	@media (--w768) {
		lost-column: 4/5 2 10px no-flex;
		margin-bottom: 0;
	}

	&:after {
		display: block;
		clear: both;
		float: none;
		content: "";
	}

}

.search_box__input {
	height: 30px;
	width: 100%;
	max-width: 400px;
	font-size: 12px;
	padding-left: 5px;
	font-weight: 600;
	border: 0;
}
.search_box__submit {
	height: 26px;
	width: 30px;
	margin-left: -32px;
	margin-top: 2px;
	border: 0;
	border-left: 1px solid #bfc0c2;
	background: #fff url(../i/search_icon.png) center center no-repeat;
	outline: none;
}

.decretions_selector_list {
	display: none;
	lost-center: 100%;
	padding: 13px 0;
	border-bottom: 4px solid $blue;
	float: left;
	width: 100%;

	a {
		display: block;
		height: 27px;
		font-size: 13px;
		line-height: 27px;
		font-weight: 600;
		color: $blue;
		padding-left: 20px;
		background-color: #f0f7fc;
		margin-bottom: 1px;

		width: 100%;

		@media (--w768) {
			lost-column: 1/3 3 10px no-flex;
		}

		&:hover {
			box-shadow: inset 7px 0 0 $blue;
		}
	}
}



/*
*	derection
*/

.one_derection {
	lost-center: 100%;
	lost-utility: clearfix;
	margin-bottom: 30px;

	.one_derection__left {
		padding: 5px 0;
		border-top: 1px solid $blue;
		border-bottom: 1px solid $blue;

		@media (--w768) {
			lost-column: 1/2 2 10px no-flex;
		}

		img {
			width: 100%;
			max-width: 100%;
		}
	}
	.one_derection__right {
		border-top: 1px solid $blue;
		border-bottom: 1px solid $blue;
		padding: 20px;

		@media (--w768) {
			lost-column: 1/2 2 10px no-flex;
		}

		h2 {
			text-transform: uppercase;
			font-size: 24px;
			line-height: 24px;
			font-weight: 600;
			margin: 0 0 20px;
		}

		h2 {
			text-transform: uppercase;
			font-size: 24px;
			line-height: 24px;
			font-weight: 600;
			margin: 0 0 20px;
			color: $blue;
		}

		h3 {
			color: $blue;
			font-size: 14px;
			line-height: 17px;
			margin-bottom: 5px;
			font-weight: 600;
			text-transform: uppercase;

			@media (--w768) {
				margin-bottom: 10px;
			}

			@media (--w980) {
				font-size: 16px;
				line-height: 20px;
				margin-bottom: 15px;
				font-weight: 700;
			}
		}


		p {
			font-size: 14px;
			line-height: 17px;
			color: #808285;
			font-weight: 300;
			margin-bottom: 10px;

			@media (--w768) {
				min-height: 0;
				margin-bottom: 26px;
			}

		}


	}
}



/*
*	big slider
*/

.big_slider {
	margin: 0 auto;

	@media (--w1600) {
		max-width: 1580px;
	}

	& > .container {
		margin: 0;
		padding: 0;
		width: 100%;

		@media (--w1025) {
			max-width: 1025px;
			margin: 0 auto;
		}

		@media (--w1600) {
			padding: 0;
			max-width: 1580px;
		}

	}

	.swiper-slide {
		height: auto;
	}

	.swiper-container {
		/*@media (--w980) {
			margin: 0 -30px;
		}

		@media (--w1200) {
			margin: 0 -30px;
		}

		@media (--w1400) {
			margin: 0 -30px;
		}*/
	}

	.swiper-pagination-bullet {
		width: 25px;
		height: 25px;
		margin: 0 11px;
		position: relative;
		opacity: 1 !important;
		background: none;


		&:before {
			content: '';
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: #404040;
			position: absolute;
			top: 10px;
			left: 10px;
		}


		&:after {
			content: '';
			width: 20px;
			height: 1px;
			background: url(../i/slider_dots.png) 0 0 repeat-x;
			position: absolute;
			top: 12px;
			right: -15px;
		}

		&:last-child:after {
			content: none;
		}


	}

	.swiper-pagination-bullet-active {
		position: relative;
		background-color: rgba(105, 172, 229, 0.35);
	}

	.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
	    top: 105px;
	    height: 20px;

	    @media (--w768) {
	    	top: 260px;
	    }

	    @media (--w980) {
	    	bottom: 35px;
	    	top: auto;
	    }
	}

}

.one_big_slide {
	height: 100%;
	position: relative;
	overflow: hidden;
	background-color: $blue;
	z-index: 1;


	.container {
		padding-left: 30px;
		height: 100%;

		div {
			text-align: center;

			@media (--w980) {
				text-align: left;
			}
		}

		@media (--w980) {
			position: absolute;
			bottom: 20px;
			display:flex;
			align-items:center;
		}

		@media (--w1200) {
			padding-left: 30px;
		}

		@media (--w1400) {
			padding-left: 70px;
			margin: 0;
		}
	}


	.big_slide_pic {
		height: auto;
		width: calc(100% + 60px);
		margin-bottom: 45px;
		margin: 0 -30px 30px;

		@media (--w768) {
			width: calc(100% + 100px);
			margin: 0 -50px 45px;
		}

		@media (--w980) {
			width: calc(100% + 170px);
			margin: 0 -85px;
			z-index: -1;
		}


	}

	&:before {
		width: 1000px;
		height: 1000px;
		border-radius: 50%;
		background-color: rgba(0,0,0,0.5);
		content: '';
		position: absolute;
		display: none;

		@media (--w980) {
			display: block;
			z-index: 0;
			top: -300px;
			left: -310px;
		}

		@media (--w1400) {
			width: 1500px;
			height: 1500px;
			display: block;
			z-index: 0;
			top: -500px;
			left: -800px;
		}
	}

	h2 {
		font-size: 23px;
		line-height: 28px;
		color: #fff;
		font-weight: 600;
		text-transform: uppercase;
		margin-bottom: 15px;

		br {

			@media (--w768) {
				display: none;
			}

			@media (--w980) {
				display: block;
			}
		}

		@media (--w980) {
			font-size: 44px;
			line-height: 52px;
			margin-bottom: 30px;
		}
	}

	p {
		font-size: 14px;
		line-height: 17px;
		color: #fff;
		font-weight: 300;
		margin-bottom: 10px;
		margin-right: 30px;
		min-height: 70px;

		@media (--w768) {
			min-height: 0;
			margin-bottom: 26px;
		}

		@media (--w980) {
			width: 60%;
			font-size: 17px;
			line-height: 20px;
			margin-right: 0;
		}

		@media (--w1400) {
			width: 40%;
		}
	}

	hr {
		margin: 20px 0 20px -30px;
		height: 1px;
		border: 0;
		border-top: 1px solid #fff;
		display: block;
		text-align: left;

		@media (--w980) {
			margin: 35px 0 30px;
			width: 45%;
		}

		@media (--w1400) {
			width: 35%;
		}
	}

	.all_links {
		font-size: 13px;
		line-height: 16px;
		color: #fff;
		font-weight: 300;
		margin-bottom: 20px;
		display: block;
		text-transform: uppercase;

		@media (--w980) {
			font-size: 17px;
			line-height: 20px;
			text-transform: none;

		}
	}

	.showmore {
		width: 37px;
		height: 37px;
		overflow: hidden;
		display: block;
		position: absolute;
		bottom: -20px;
    	right: 30px;

    	@media (--w768) {
			right: 52px;
    	}

		@media (--w980) {
			width: auto;
			overflow: visible;
			position: relative;
			bottom: auto;
			right: auto;
		}
	}


}



/*
*	section_news
*/
.section_info {
	padding: 40px 0 47px;

	@media (--w980) {
		padding: 80px 0 60px;
	}

	h2 {
		color: $blue;
		font-size: 24px;
		line-height: 28px;
		margin-bottom: 17px;
		text-transform: uppercase;
		text-align: center;
		font-weight: 600;

		@media (--w980) {
			font-size: 34px;
			line-height: 34px;
			margin-bottom: 20px;
		}
	}
}

.info_text {
	color: #808285;
	font-size: 14px;
	line-height: 17px;
	margin-bottom: 20px;
	font-weight: 300;
	text-align: center;

	p {
		margin-bottom: 15px;
	}

	@media (--w1400) {
		width: 65%;
		margin: 20px auto 0;
	}

	.btn {
		margin: 23px auto 0;
		width: 200px;

		@media (--w768) {
			margin: 20px auto 0;
		}
	}
}

.info-tips-slider {
	position: relative;

    .swiper-button-next, .swiper-button-prev {
        position: absolute;
        top: 10px;
        width: 55px;
        margin-top: 0px;
        z-index: 2;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.5);
        background-size: 27px 44px;
        background-position: 50%;
        background-repeat: no-repeat;
        height: 180px;

        @media (--w768) {
        	height: 130px;
        }

        @media (--w980) {
        	top: 7px;
        	height: 180px;
        }

        @media (--w1200) {
        	height: 215px;
        }
    }

    .swiper-button-next {
    	right: 0;
    	background-image: svg("arr_r", "[stroke]: $blue");
    	background-position: center center;
    	background-size: 16px;
		background-repeat: no-repeat;

		@media (--w1600) {
			height: 265px;
			right: -55px;
		}

    }

    .swiper-button-prev {
    	left: 0;
    	background-image: svg("arr_l", "[stroke]: $blue");
    	background-position: center center;
    	background-size: 16px;
		background-repeat: no-repeat;

		@media (--w1600) {
			height: 265px;
			left: -55px;
		}
    }

}

.js-slider-info-tips {
	overflow: hidden;
	margin-top: 47px;
	margin-bottom: 27px;

	@media (--w768) {
		margin-bottom: 30px;
	}

	@media (--w980) {
		margin-top: 60px;
		margin-bottom: 30px;
	}

	.swiper-wrapper {
		font-size: 0;
	}

	.swiper-container {
	    width: 100%;
	}

	.swiper-slide {
        display: inline-block;
    }
}

.info_tip {
	border-top: 1px solid $blue;
	border-bottom: 1px solid $blue;
	padding: 10px 0 20px;

	@media (--w768) {
		padding: 7px 0;
	}

	@media (--w980) {
		padding: 7px 0 17px;
	}

	img {
		display: block;
		max-width: 100%;
		margin: 0 auto 23px;

		@media (--w768) {
			margin-bottom: 25px;
		}

		@media (--w980) {
			margin-bottom: 35px;
		}
	}

	h3 {
		color: $blue;
		font-size: 14px;
		line-height: 14px;
		font-weight: 600;
		text-transform: uppercase;
		text-align: center;

		@media (--w768) {
			min-height: 34px;
			text-align: left;
			margin-bottom: 10px;
			padding-left: 10px;
		}

		@media (--w980) {
			min-height: 0;
			font-size: 16px;
			line-height: 20px;
			margin-bottom: 15px;
		}
	}

	p {
		color: #808285;
		font-size: 14px;
		line-height: 17px;
		margin-bottom: 20px;
		font-weight: 300;
		display: none;

		@media (--w980) {
			display: block;
			min-height: 70px;
			padding-left: 10px;
		}

		@media (--w1400) {
			margin-bottom: 5px;
		}
	}

	.showmore {
		display: none;

		@media (--w980) {
			display: block;
			margin-left: 10px;
		}
	}

}


/*
*	service_blocks
*/
.service_blocks {
	.container {
		margin: 0;
		padding: 0;

		@media (--w1025) {
			margin: 0 auto;
		}
	}
}

.service_wide {
	position: relative;

	img {
		width: 100%;
	}
}

.service_wide__content {
	text-align: center;
	padding-top: 25px;
	padding-bottom: 20px;

	@media (--w980) {
		position: absolute;
		bottom: 30px;
		left: 20px;
		width: auto;
		text-align: left;
		padding-top: 0;
	}

	h2 {
		text-transform: uppercase;
		font-size: 24px;
		line-height: 24px;
		font-weight: 600;
		margin: 0 0 10px;

		a {
			color: $blue;

			&:hover {
				text-decoration: underline;
			}
		}

		@media (--w980) {
			font-size: 34px;
			line-height: 34px;
			margin: 0 0 25px;
		}
	}

	p {
		color: #808285;

		@media (--w980) {
			width: 35%;
		}
	}
}

.service_title {
    text-align: center;
    height: 48px;
    line-height: 48px;
    text-transform: uppercase;
    font-size: 16px;
    width: 100%;
    background-color: $blue;
    font-weight: 600;
    margin: 7px 0;

	a {
		color: #fff;

		&:hover {
			text-decoration: underline;
		}
	}
}

.service_shorts {
	font-size: 0;
	position: relative;
	lost-center: 100%;

	.actions & {
		width: auto;
	    margin: 0 -20px;
	    max-width: none;
	}
}

.service_shorts__half {
	width: 100%;
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin-bottom: 6px;
	border-bottom: 1px solid $blue;

	@media (--w980) {
		lost-column: 1/2 2 8px no-flex;
		margin-bottom: 8px;
	}

	img{
		width: 100%;
		margin-bottom: 8px;
	}

	.actions & {
		border-bottom: 0;

		@media (--w980) {
			margin-bottom: 0;
		}
	}

}

.service_shorts__content {
	text-align: center;
	padding-top: 20px;

	/*transform: translateY(-50%);*/

	@media (--w980) {
		position: absolute;
		bottom: 40px;
		left: 20px;
		text-align: left;
		padding-top: 0;
	}

	@media (--w1400) {
		bottom: 55px;
	}

	span {
		color: #808285;
		font-size: 14px;
		line-height: 18px;
		margin-bottom: 15px;
		display: block;
		font-weight: 300;
	}

	h3 {
		text-transform: uppercase;
		font-size: 16px;
		font-weight: 600;
		margin: 0 0 10px;

		a {
			color: $blue;

			&:hover {
				text-decoration: underline;
			}
		}

		@media (--w980) {
			margin: 0 0 20px;
		}
	}

	p {
		color: #808285;
		font-size: 14px;
		line-height: 17px;
		width: 40%;
		display: none;


		@media (--w980) {
			display: block;

		}
	}
}

.actions_header {
	margin-bottom: 10px;

	@media (--w768) {
		padding: 0 20px;
		margin-bottom: 30px;
	}

	h2 {
		color: $blue;
		font-size: 24px;
		line-height: 24px;
		margin-bottom: 26px;
		text-transform: uppercase;
		font-weight: 600;


		@media (--w980) {
			font-size: 34px;
			line-height: 34px;
			margin-bottom: 30px;
		}
	}

	p {
		color: #808285;
		font-size: 14px;
		line-height: 17px;
		margin-bottom: 20px;
		font-weight: 300;
	}
}






/*
*	section_news
*/
.section_news {
	padding: 44px 0 0;
	background-color: #f0f0f0;

	@media (--w980) {
		padding: 40px 0 45px;
	}

	.container {
		margin: 0;
		padding: 0;

		@media (--w1025) {
			margin: 0 auto;
		}
	}


	h2 {
		color: $blue;
		font-size: 24px;
		line-height: 24px;
		margin-bottom: 26px;
		text-transform: uppercase;
		text-align: center;
		font-weight: 600;


		@media (--w980) {
			font-size: 34px;
			line-height: 34px;
			margin-bottom: 30px;
		}
	}

	.btn {
		margin: 25px auto 0;
		width: 200px;
	}
}

.news_list {
	padding: 44px 0 48px;

	@media (--w980) {
		padding: 10px 0 60px;
	}

	h2 {
		color: $blue;
		font-size: 24px;
		line-height: 24px;
		margin-bottom: 26px;
		text-transform: uppercase;
		font-weight: 600;


		@media (--w980) {
			font-size: 34px;
			line-height: 34px;
			margin-bottom: 30px;
		}
	}

	.btn {
		margin: 25px auto 0;
		width: 200px;
	}
}

.news_tizer_row {
	lost-utility: clearfix;
}


.news_tizer_one {
	lost-column: 1/1 1 10px no-flex;
	border-top: 1px solid $blue;
	border-bottom: 1px solid $blue;
	padding: 23px 20px 15px;
	position: relative;
	margin-top: -1px;

	@media (--w768) {
		lost-column: 1/1 1 10px no-flex;
		margin-top: -1px;
		padding: 23px 20px 8px;
	}

	@media (--w980) {
		lost-column: 1/3 3 10px no-flex;
		padding: 35px 17px 60px;
	}

	.date {
		font-size: 14px;
		line-height: 14px;
		display: block;
		margin-bottom: 18px;
		font-weight: 300;
		color: #808285;
	}

	h3 {
		color: $blue;
		font-size: 14px;
		line-height: 17px;
		margin-bottom: 5px;
		font-weight: 600;
		text-transform: uppercase;

		@media (--w768) {
			margin-bottom: 10px;
		}

		@media (--w980) {
			font-size: 16px;
			line-height: 20px;
			margin-bottom: 15px;
			font-weight: 700;
		}
	}

	p {
		color: #808285;
		font-size: 14px;
		line-height: 17px;
		margin-bottom: 15px;
		font-weight: 300;
		display: none;

		@media (--w980) {
			display: block;
		}
	}

	.showmore {
		display: none;

		@media (--w980) {
			display: block;
			position: absolute;
			bottom: 10px;
			left: 17px;
		}
	}

	.rel_height {
		/*@media (--w768) {
			min-height: 85px;
		}*/
		@media (--w980) {
			min-height: 180px;
		}
		@media (--w1400) {
			min-height: 150px;
		}
	}
}

.news_tizer_author {
	color: $blue;
	font-size: 14px;
	height: 20px;
    display: block;

    @media (--w980) {
    	margin-top: -35px;
    	margin-bottom: 15px;
    }
}

.news_tizer_big {
	lost-utility: clearfix;
	lost-center: 100%;
	margin-bottom: 30px;

	.news_tizer_big__pic {
		lost-column: 1/3 3 10px no-flex;
		border-top: 1px solid $blue;
		border-bottom: 1px solid $blue;

		img{
			width: 100%;
			margin: 5px 0;
		}
	}

	.news_tizer_big__content {
		lost-column: 2/3 3 10px no-flex;
		border-top: 1px solid $blue;
		border-bottom: 1px solid $blue;
		padding: 10px 0;

		@media (--w768) {
			padding: 40px 25px 25px;
		}
	}

	.date {
		font-size: 14px;
		line-height: 14px;
		display: block;
		margin-bottom: 18px;
		font-weight: 300;
		color: #808285;
	}

	h3 {
		color: $blue;
		font-size: 14px;
		line-height: 17px;
		margin-bottom: 5px;
		font-weight: 600;
		text-transform: uppercase;

		@media (--w768) {
			margin-bottom: 10px;
		}

		@media (--w980) {
			font-size: 16px;
			line-height: 20px;
			margin-bottom: 15px;
			font-weight: 700;
		}
	}

	p {
		color: #808285;
		font-size: 14px;
		line-height: 17px;
		margin-bottom: 20px;
		font-weight: 300;
		display: none;

		@media (--w980) {
			display: block;
		}
	}

	.showmore {
		display: none;

		@media (--w980) {
			display: block;
		}
	}
}


.sort_by {
	margin-top: -30px;

	@media (--w768) {
		padding-left: 20px;
		margin-top: -30px;
	}

	.container {
		@media (--w768) {
			padding: 0 10px;
		}
	}
}

.sort_by__text {
	font-size: 14px;
	line-height: 16px;
	color: #808285;
	margin-right: 10px;
	display: block;
	margin-bottom: 10px;
	vertical-align: top;


	@media (--w768) {
		display: inline-block;
		margin-bottom: 0;
	}

}
.sort_by_btn {
	font-size: 14px;
	line-height: 16px;
	color: #808285;
	margin-right: 10px;
	display: inline-block;
	vertical-align: top;
	padding-right: 15px;
	background: url(../i/sort_down.png) right top 6px no-repeat;

	&.invert {
		background: url(../i/sort_up.png) right top 6px no-repeat;
	}

	&.active {
		color: $blue;
		border-bottom: 1px solid $blue;
		background: url(../i/sort_down_blue.png) right top 6px no-repeat;
	}

	&.active.invert {
		color: $blue;
		border-bottom: 1px solid $blue;
		background: url(../i/sort_up_blue.png) right top 6px no-repeat;
	}
}



/*
*	section_appointment
*/
.section_appointment {
	padding: 20px 0 10px;

	h1 {
		font-size: 24px;
		line-height: 24px;
		margin-bottom: 10px;
		text-transform: uppercase;
		font-weight: 600;
		color: $blue;

		@media (--w768) {
			font-size: 34px;
			line-height: 34px;
			margin-bottom: 20px;
		}
	}

	.section_appointment_header {
		font-size: 14px;
		line-height: 16px;
		margin-bottom: 20px;
		color: #808285;
		font-weight: 300;
	}
}

.baf_container {
	lost-center: 100%;
	lost-utility: clearfix;

	.baf_half {


		@media (--w768) {
			lost-column: 1/2 2 30px no-flex;
			lost-center: 100%;
		}

		.mdm_submit {
			margin-top: -3px;
		}
	}

	.baf_quarter {


		@media (--w768) {
			lost-column: 1/2 2 30px no-flex;

		}
	}
}



/*
*	Doctors
*/

.doctors_list {
	margin-bottom: 20px;

	.container {
		padding: 0;
		margin: 0;

		@media (--w1025) {
			margin: 0 auto;
		}
	}
}

.doctors_list__grid {
	lost-center: 100%;
}

.doctors_list__item {
	text-align: center;
	position: relative;
	padding: 0 10px;

	.doctors_list__grid & {
		margin-bottom: 25px;

		lost-column: 1/1 1 0px no-flex;

		@media (--w768) {
			lost-column: 1/2 2 5px no-flex;
		}

		@media (--w980) {
			lost-column: 1/3 3 5px no-flex;
		}

		@media (--w1200) {
			lost-column: 1/4 4 5px no-flex;
		}

		@media (--w1600) {
			lost-column: 1/5 5 5px no-flex;
		}
	}
}
.doctors_list__pic {
	border-radius: 50%;
	display: block;
	margin: 0 auto 25px;
	max-width: 100%;
}
.doctors_list__name {
	color: $blue;
	text-align: center;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 10px;
}
.doctors_list__spec {
	display: block;
	border-top: 1px solid #c0c0c0;
	text-align: center;
	height: 40px;
	line-height: 16px;
	font-size: 14px;
	padding-top: 10px;
	color: #808285;
	width: 200px;
	margin: 0 auto;
}
.doctors_list-button-next,
.doctors_list-button-prev {
	width: 50px;
	background-color: #fff;
	height: 100%;
	top: 0;
	margin-top: 0;
	display: none;

	@media (--w1025) {
		display: block;
	}
}

.doctors_list-button-next {
	right: -25px;
	background-image: svg("arr_r", "[stroke]: $blue");
	background-position: center 30%;
	background-size: 16px;
	background-repeat: no-repeat;

	@media (--w1025) {
		right: -50px;
	}

}

.doctors_list-button-prev {
	left: -25px;
	background-image: svg("arr_l", "[stroke]: $blue");
	background-position: center 30%;
	background-size: 16px;
	background-repeat: no-repeat;

	@media (--w1025) {
		left: -50px;
	}


}




/*
*	Derections
*/

.derections_list {
	margin-top: 6px;

	.container {
		margin: 0;
		padding: 0;

		@media (--w1025) {
			margin: 0 auto;
		}
	}
}

.derections_list__grid {
	lost-center: 100%;
}

.derections_list__item {
	text-align: center;
	position: relative;

	.derections_list__grid & {
		margin-bottom: 5px;

		lost-column: 1/1 1 0px no-flex;

		@media (--w768) {
			lost-column: 1/2 2 5px no-flex;
		}

		@media (--w980) {
			lost-column: 1/3 3 5px no-flex;
		}

		@media (--w1200) {
			lost-column: 1/4 4 5px no-flex;
		}

		@media (--w1600) {
			lost-column: 1/5 5 5px no-flex;
		}
	}
}
.derections_list__pic {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	width: 100%;
}

.derections_list__spec {
	position: absolute;
	left: 0;
	bottom: 0;
	border-top: 5px solid $blue;
	border-bottom: 1px solid #bdbdbd;
	text-align: center;
	height: 64px;
	line-height: 16px;
	text-transform: uppercase;
	font-size: 16px;
	color: $blue;
	width: 100%;
	background-color: rgba(255,255,255,0.8);
	font-weight: 600;
	display:flex;
	justify-content:center;
	align-items:center;
}

.derections_list-button-next,
.derections_list-button-prev {
	width: 50px;
	background-color: #fff;
	height: 100%;
	top: 0;
	margin-top: 0;
	display: none;

	@media (--w1025) {
		display: block;
	}
}

.derections_list-button-next {
	right: -25px;
	background-image: svg("arr_r", "[stroke]: $blue");
	background-position: center center;
	background-size: 16px;
	background-repeat: no-repeat;

	@media (--w1025) {
		right: -50px;
	}


}

.derections_list-button-prev {
	left: -25px;
	background-image: svg("arr_l", "[stroke]: $blue");
	background-position: center center;
	background-size: 16px;
	background-repeat: no-repeat;

	@media (--w1025) {
		left: -50px;
	}
}






/*
*	Video
*/

.video_list {
	margin-top: 6px;

	.container {
		margin: 0;
		padding: 0;

		@media (--w1025) {
			margin: 0 auto;
		}
	}
}

.video_list__grid {
	lost-center: 100%;
	margin-bottom: 10px;
}

.video_list__item {
	position: relative;
	border-bottom: 1px solid $blue;
	border-top: 1px solid $blue;

	.video_list__grid & {
		margin-bottom: -1px;

		lost-column: 1/1 1 0px no-flex;

		@media (--w768) {
			lost-column: 1/2 2 8px no-flex;

		}

		@media (--w980) {
			lost-column: 1/3 3 8px no-flex;
		}

	}

	&:hover {
		background-color: #e1eefa;
	}

	h2 {
		line-height: 16px;
		text-transform: uppercase;
		font-size: 16px;
		color: $blue;
		width: 100%;
		font-weight: 600;
		margin-bottom: 15px;
		padding: 0 20px;
	}
}
.video_list__pic {
	display: block;
	margin: 0 auto 30px;
	position: relative;


	img {
		max-width: 100%;
		width: 100%;
		display: block;
		border-top: 10px solid #fff;
	}
}

.video_list__title {
	color: #808285;
	font-size: 14px;
	line-height: 17px;
	margin-bottom: 0px;
	font-weight: 300;
	min-height: 80px;
	display: block;
	padding: 0 20px 20px;
}

.video_icon {
	width: 90px;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -45px;
	margin-top: -25px;
	background: rgba(0,0,0,0.5) url(../i/video_icon.png) center center no-repeat;
}


/*
*	info_section
*/

.info_section {
	margin-top: 40px;
	margin-bottom: 10px;
}

.info_content {
	margin-bottom: 30px;

	h1 {
		font-size: 24px;
		line-height: 24px;
		margin-bottom: 10px;
		text-transform: uppercase;
		font-weight: 600;
		color: $blue;

		@media (--w768) {
			font-size: 34px;
			line-height: 34px;
			margin-bottom: 20px;
		}
	}

	p {
		color: #808285;
		font-size: 14px;
		line-height: 18px;
		margin-bottom: 15px;
		font-weight: 300;
	}

	h2 {
		font-size: 24px;
		line-height: 28px;
		margin-bottom: 25px;
		margin-top: 30px;
		text-transform: uppercase;
		font-weight: 600;
		color: $blue;
	}

	h3 {
		font-size: 16px;
		line-height: 22px;
		margin-top: 30px;
		margin-bottom: 15px;
		text-transform: uppercase;
		font-weight: 600;
		color: $blue;
	}

	a {
		color: $blue;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}

.accordion {
	border-top: 1px solid #c3c4c6;
	border-bottom: 1px solid #c3c4c6;
	margin: -1px -20px 0;
	padding: 0 20px;
	z-index: 1;
	position: relative;

	&.is-opened {
		border-top: 1px solid $blue;
		border-bottom: 1px solid $blue;
		z-index: 1000;

	}
}

.accordion__title {
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 25px;
	margin-top: 30px;
	text-transform: uppercase;
	font-weight: 600;
	color: #828282;
	cursor: pointer;

	.is-opened & {
		color: $blue;
	}

	&:after {
		content: "";
		width: 30px;
		height: 22px;
		margin-left: 15px;
		display: inline-block;
		background-image: svg("arr_r", "[stroke]: #828282");
		background-position: center center;
		background-size: 12px;
		background-repeat: no-repeat;
		vertical-align: top;
		opacity: 0.5;
		transition: transform 0.3s;

		.is-opened & {
			background-image: svg("arr_r", "[stroke]: $blue");
			transform: rotate(90deg);
		}
	}
}

.accordion__content {
	display: none;
	border-top: 1px solid $blue;
	padding: 30px 0 0;
}


/*
*	Content page
*/
.section_content {
	padding: 30px 0 0;

	h1 {
		font-size: 24px;
		line-height: 24px;
		margin-bottom: 10px;
		text-transform: uppercase;
		font-weight: 600;
		color: $blue;

		@media (--w768) {
			font-size: 34px;
			line-height: 34px;
			margin-bottom: 20px;
		}
	}
}

.content_block {
	lost-center: 100%;
	lost-utility: clearfix;
	border-bottom: 1px solid $blue;
	margin-bottom: 10px;
	padding-bottom: 20px;

}
.content__pic {
	padding-top: 10px;

	@media (--w768) {
		lost-column: 1/3 2 10px no-flex;
		lost-move: -2/3;
		border-top: 1px solid $blue;
	}

	.doctor__one & {
		border-top: 0;
		padding-top: 0;
		border-radius: 50%;
	}

	img {
		max-width: 100%;
		margin-bottom: 10px;
	}
}
.content__text {
	padding: 20px 0px;

	@media (--w768) {
		lost-column: 2/3 2 10px no-flex;
		lost-move: 1/3;
		border-top: 1px solid $blue;
		padding: 30px 20px;
	}

	.doctor__one & {
		border-top: 0;
		padding: 0;
	}


	p {
		color: #808285;
		font-size: 14px;
		line-height: 18px;
		margin-bottom: 15px;
		font-weight: 300;
	}

	h2 {
		font-size: 24px;
		line-height: 28px;
		margin-bottom: 25px;
		margin-top: 30px;
		text-transform: uppercase;
		font-weight: 600;
		color: $blue;

		.doctor__one & {
			margin-top: 0;
		}

	}

	h3 {
		font-size: 16px;
		line-height: 22px;
		margin-top: 30px;
		margin-bottom: 15px;
		text-transform: uppercase;
		font-weight: 600;
		color: $blue;
	}

}

.content_block__date {
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 20px;
	color: #808285;
	font-weight: 300;
}

.content_block__autor {
	color: $blue;
	text-decoration: underline;
}

.download_pdf {
	background: url(../i/download_pdf.jpg) 0 0 no-repeat;
	padding-left: 40px;
	margin-bottom: 20px;
	height: 27px;
	display: block;
	line-height: 27px;
	font-size: 14px;
	color: #808285;
	font-weight: 300;
}


/*
*	section_feedback
*/
.section_feedback {

}

.feedback_block {
	lost-center: 100%;
	lost-utility: clearfix;

	margin-bottom: 10px;
	padding-bottom: 20px;
}

.feedback_list {
	padding: 20px 0px;

	@media (--w768) {
		lost-column: 2/3 2 10px no-flex;
		padding: 30px 20px;
	}

	h2 {
		font-size: 24px;
		line-height: 24px;
		margin-bottom: 10px;
		text-transform: uppercase;
		font-weight: 600;
		color: $blue;

		@media (--w768) {
			font-size: 34px;
			line-height: 34px;
			margin-bottom: 20px;
		}
	}

	.form_line {
		margin-bottom: 0;
	}
}

.feedback_reply {
	padding: 20px 0px;

	@media (--w768) {
		lost-column: 1/3 2 10px no-flex;
		padding: 30px 20px;
	}
}

.feedback_form {
	padding: 0 !important;
}

.feedback_list__item {
	padding: 30px 0 20px;

	.feedback_list__date {
		font-size: 14px;
		line-height: 14px;
		display: block;
		margin-bottom: 18px;
		font-weight: 300;
		color: #808285;
	}

	.feedback_list__title {
		color: $blue;
		font-size: 14px;
		line-height: 17px;
		margin-bottom: 5px;
		font-weight: 600;
		text-transform: uppercase;

		@media (--w768) {
			margin-bottom: 10px;
		}

		@media (--w980) {
			font-size: 16px;
			line-height: 20px;
			margin-bottom: 15px;
			font-weight: 700;
		}
	}



	p {
		color: #808285;
		font-size: 14px;
		line-height: 17px;
		margin-bottom: 15px;
		font-weight: 300;
		display: none;

		@media (--w980) {
			display: block;
		}
	}
}









/*
*	Form elements
*/

.mdm_form {
	padding: 20px 0 0;


	@media (--w768) {
		padding: 20px 20px 0;
	}

	h2 {
		font-size: 24px;
		line-height: 24px;
		margin-bottom: 10px;
		text-transform: uppercase;
		font-weight: 600;
		color: $blue;

		@media (--w768) {
			font-size: 34px;
			line-height: 34px;
			margin-bottom: 20px;
		}
	}
}

.mdm_input {
	position: relative;
	margin: 0px 0 30px;
	display: block;

	span {
		position: absolute;
		top: 0;
		left: 0;
		padding-left: 10px;
		width: 100%;
		height: 32px;
		z-index: 1;
		font-size: 12px;
		line-height: 30px;

		i {
			font-style: normal;
			color: $blue;
		}
	}

	input[type="text"] {
		width: 100%;
		height: 32px;
		border: 1px solid #c0c0c0;
		padding-left: 8px;
	}

	input[type="text"].error {
		border: 1px solid red;
	}

	.mdm_textarea {
		display: block;
		width: 100%;
		height: 94px;
		resize: none;
		border: 1px solid #c0c0c0;
	}

	.feedback_text {
		height: 136px;
	}

}

.mdm_undertext {
	font-size: 12px;
	line-height: 12px;
	margin-top: -25px;
	margin-bottom: 20px;
	margin-left: 8px;
	color: #808285;
}

.form_error {
	font-size: 12px;
	line-height: 14px;
	margin-top: -25px;
	margin-bottom: 13px;
	margin-left: 8px;
	color: red;
}

.mdm_undertext + .form_error {
	margin-top: -8px;
}

.form_line {
	height: 1px;
	background-color: #c0c0c0;
	margin: 0 -20px 30px;

	&.blue {
		background-color: $blue;
	}

	.section_appointment &:last-child {
		margin-bottom: 0px;
	}
}

.form_textline {
	margin-bottom: 30px;
	font-size: 14px;
	line-height: 18px;
	color: #808285;

	i {
		font-style: normal;
		color: $blue;
	}
}

.mdm_submit {
	position: relative;
    margin-bottom: 15px;
    display: block;

	span {
		content: "";
		display: inline-block;
		width: 37px;
		height: 37px;
		border-radius: 50%;
		background-image: svg("arr_r", "[stroke]: #fff");
		background-color: $blue;
		background-position: 15px center;
		background-size: 10px;
		background-repeat: no-repeat;
		vertical-align: top;
	}

	input {
		background: none;
		border: 0;
		margin-bottom: 10px;
		color: $blue;
		font-weight: 700;
		font-size: 17px;
		line-height: 37px;
		outline: none;
	}
}

.captcha {

	img {
		margin-right: 30px;
		margin-bottom: 30px;
	}
}

.captcha_input {
	width: 200px;
	display: inline-block;
	margin-bottom: -10px;
}


.pager {
	text-align: center;
	margin-top: 30px;

	.arr_left {
		content: "";
		display: inline-block;
		width: 37px;
		height: 37px;
		margin-right: 10px;
		border-radius: 50%;
		background-image: svg("arr_l", "[stroke]: #fff");
		background-color: $blue;
		background-position: 13px center;
		background-size: 10px;
		background-repeat: no-repeat;
		vertical-align: top;
	}

	.arr_right {
		content: "";
		display: inline-block;
		width: 37px;
		height: 37px;
		margin-left: 10px;
		border-radius: 50%;
		background-image: svg("arr_r", "[stroke]: #fff");
		background-color: $blue;
		background-position: 15px center;
		background-size: 10px;
		background-repeat: no-repeat;
		vertical-align: top;
	}

	a {
		display: inline-block;
		line-height: 37px;
		vertical-align: top;
		font-size: 14px;
		color: #808285;
		height: 15px;

		&.active {
			color: $blue;
		}
	}

	span {
		line-height: 35px;
		vertical-align: top;
		margin: 0 3px;
		font-size: 14px;
	}

}

.zapis_banner {
	border-top: 1px solid #c3c4c6;
	padding: 10px 0 0;
	margin: 0 -20px 10px;
}
.zapis_banner_content {
	background-color: #ebebec;
	padding: 35px 20px;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: 600;
	color: #69ace5;
}



/*
*	Footer
*/
.footer {
	background-color: $blue;
	padding: 20px 0;
	color: #fff;

	@media (--w980) {
		padding: 30px 0 70px;
	}

	a {
		color: #fff;
	}
}

.footer .container {
	lost-utility: clearfix;
	padding: 0;
	margin: 0;

	@media (--w1025) {
		margin: 0 auto;
	}
}

.footer_col {
	lost-column: 1/1 1 10px no-flex;
	margin-bottom: 20px;
	padding: 0 20px;

	@media (--w980) {
		lost-column: 1/3 3 10px no-flex;
		margin-bottom: 0;
	}

	&.wide {
		lost-column: 1/1 1 10px no-flex;
	}
}

.footer_addr {
	font-size: 14px;
	line-height: 17px;
	font-weight: 300;
	margin-bottom: 10px;

	span {
		margin-right: 10px;
	}

	@media (--w768) {
		margin-bottom: 0;
	}
}

.footer_logo {
	width: 311px;
	height: 40px;
	margin-top: 0px;
	max-width: 230px;

	@media (--w980) {
		max-width: 330px;
		margin-top: -10px;
	}

	@media (--w1400) {
		height: 60px;
		width: auto;
		max-width: 386px;
		margin-top: -20px;
	}
}

.footer_tip {
	position: relative;
	border-bottom: 1px solid #fff;
	margin: 0 -20px;
	padding: 2px 20px 21px;

	@media (--w980) {
		border-bottom: 0;
		margin: 0;
		padding: 0;
	}

	h3 {
		font-weight: 600;
		text-transform: uppercase;
		font-size: 14px;
		line-height: 14px;
		margin-bottom: 0px;

		@media (--w980) {
			font-size: 24px;
			line-height: 24px;
			margin-bottom: 20px;
		}
	}

	p {
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
		margin-bottom: 10px;
		font-weight: 300;
		display: none;

		@media (--w980) {
			display: block;
		}
	}

	.showmore {
		width: 37px;
		height: 37px;
		overflow: hidden;
		display: block;
		position: absolute;
		top: -10px;
		right: 32px;

		@media (--w768) {
			right: 45px;
		}

		@media (--w980) {
			width: auto;
			overflow: visible;
			position: relative;
			top: auto;
			right: auto;
		}
	}

	.rel_height {
		@media (--w980) {
			min-height: 120px;
		}

		@media (--w1400) {
			min-height: 100px;
		}
	}
}

.footer_hr {
	width: 100%;
	height: 1px;
	background-color: #fff;
	margin: 23px 0 47px;
	display: none;

	@media (--w980) {
		display: block;
		margin: 20px 0 45px;
	}
}

.footer_copyrights {
	font-size: 14px;
	line-height: 17px;
	font-weight: 300;
	margin-top: 10px;

	@media (--w980) {
		margin-top: 30px;
	}

	br {
		@media (--w768) {
			display: none;
		}
	}
}


/*
*	About
*/
.section_about {

	.container {
		margin: 0;
		padding: 0;

		@media (--w1025) {
			margin: 0 auto;
		}
	}
}

.about_big_pic {
	margin: 30px 0;
	padding: 10px 0;
	border-top: 1px solid $blue;
	border-bottom: 1px solid $blue;

	img {
		max-width: 100%;
	}
}

.advantages {
	lost-center: 100%;
	lost-utility: clearfix;
	margin-bottom: 30px;
}

.advantages_title {
	color: #808285;
	font-size: 14px;
	line-height: 17px;
	margin-bottom: 30px;
	font-weight: 300;
	padding: 0 20px;
}

.advantages_item {
	lost-column: 1/1 1 10px no-flex;
	border-top: 1px solid $blue;
	border-bottom: 1px solid $blue;
	padding: 23px 20px 15px;
	position: relative;
	margin-top: -1px;

	@media (--w768) {
		lost-column: 1/3 3 10px no-flex;
		margin-top: -1px;
		padding: 23px 20px 8px;
	}

	h3 {
		color: $blue;
		font-size: 14px;
		line-height: 17px;
		margin-bottom: 5px;
		font-weight: 600;
		text-transform: uppercase;

		@media (--w768) {
			margin-bottom: 10px;
		}

		@media (--w980) {
			font-size: 16px;
			line-height: 20px;
			margin-bottom: 15px;
			font-weight: 700;
		}
	}
	p {
		color: #808285;
		font-size: 14px;
		line-height: 17px;
		margin-bottom: 15px;
		font-weight: 300;
	}
}

.mission_banner {
	text-align: center;
	background-color: #ebebee;
	margin: 40px 0;
	padding: 40px 20px;
	position: relative;

	&:before {
		content: "";
		position: absolute;
		top: -10px;
		left: 0;
		height: 1px;
		width: 100%;
		background-color: #ebebee;
	}

	&:after {
		content: "";
		position: absolute;
		bottom: -10px;
		left: 0;
		height: 1px;
		width: 100%;
		background-color: #ebebee;
	}


	p {
		color: #808285;
		font-size: 14px;
		line-height: 17px;
		margin-bottom: 15px;
		font-weight: 300;
	}

	span {
		display: block;
		color: $blue;
		font-size: 14px;
		line-height: 17px;
		font-weight: 600;
		text-transform: uppercase;
	}
}

.about_big_tizers {
	lost-center: 100%;
	lost-utility: clearfix;
	margin-bottom: 10px;
}

.about_big_tizer {
	border-top: 1px solid $blue;
	border-bottom: 1px solid $blue;
	padding: 10px 20px 10px;
	lost-column: 1/1 1 10px no-flex;
	margin-top: -1px;

	@media (--w768) {
		lost-column: 1/2 2 10px no-flex;
		padding: 10px 20px 30px;
		margin-top: 0px;
	}

	.about_block__pic {
		max-width: calc(100% + 40px);
		margin: 0 -20px 20px;
	}

	h3 {
		color: $blue;
		font-size: 14px;
		line-height: 17px;
		margin-bottom: 5px;
		font-weight: 600;
		text-transform: uppercase;

		@media (--w768) {
			margin-bottom: 10px;
		}

		@media (--w980) {
			font-size: 16px;
			line-height: 20px;
			margin-bottom: 15px;
			font-weight: 700;
		}
	}

	p {
		color: #808285;
		font-size: 14px;
		line-height: 17px;
		margin-bottom: 25px;
		font-weight: 300;
	}
}

.about_short_tizers {
	lost-center: 100%;
	lost-utility: clearfix;
	margin-bottom: 10px;
}
.about_short_tizer {
	lost-column: 1/1 1 10px no-flex;
	border-bottom: 1px solid $blue;
	padding: 23px 20px 15px;
	position: relative;
	margin-top: -1px;

	@media (--w768) {
		lost-column: 1/3 3 10px no-flex;
		margin-top: -1px;
		padding: 23px 20px 20px;
	}

	h3 {
		color: $blue;
		font-size: 14px;
		line-height: 17px;
		margin-bottom: 5px;
		font-weight: 600;
		text-transform: uppercase;

		@media (--w768) {
			margin-bottom: 10px;
		}

		@media (--w980) {
			font-size: 16px;
			line-height: 20px;
			margin-bottom: 15px;
			font-weight: 700;
		}
	}
	p {
		color: #808285;
		font-size: 14px;
		line-height: 17px;
		margin-bottom: 15px;
		font-weight: 300;
	}

}



/*
*	Contacts
*/

.contacts {
	.container {
		padding: 0;
		margin: 0;

		@media (--w980) {

			margin: 0 auto;
		}
	}
}

.contacts_block {
	padding-bottom: 10px;
	margin-bottom: 30px;
	border-bottom: 1px solid $blue;
	lost-center: 100%;
	lost-utility: clearfix;
}

.contacts_map {
	border-top: 1px solid $blue;
	padding-top: 10px;

}


.contacts_left {
	@media (--w980) {
		lost-column: 2/3 2 10px no-flex;
	}
}
.contacts_right {
	@media (--w980) {
		lost-column: 1/3 2 10px no-flex;
	}
}

.contacts_panel {
	position: relative;
	padding: 30px 20px;
	background-color: $blue;

	&:first-child {
		margin-bottom: 1px;
	}


	h3 {
		font-weight: 600;
		text-transform: uppercase;
		font-size: 14px;
		line-height: 14px;
		margin-bottom: 0px;
		color: #fff;

		@media (--w980) {
			font-size: 24px;
			line-height: 24px;
			margin-bottom: 20px;
		}
	}

	p {
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
		margin-bottom: 20px;
		font-weight: 300;
		color: #fff;
	}

}

.contacts_info {
	.container {
		border-bottom: 1px solid $blue;
		margin: 0 0 10px;
		padding: 0 20px;

		@media (--w980) {
			margin: 0 auto 10px;
		}

	}

	h2 {
		font-weight: 600;
		text-transform: uppercase;
		font-size: 12px;
		line-height: 12px;
		margin-bottom: 15px;
		color: $blue;

		@media (--w980) {
			font-size: 16px;
			line-height: 16px;
			margin-bottom: 20px;
		}
	}
}

.contacts_info__text {
	margin-bottom: 20px;

	p {
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
		margin-bottom: 20px;
		font-weight: 300;
		color: #808285;
	}

	a {
		color: $blue;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}


	@media (--w980) {
		margin-bottom: 100px;
	}
}


/*
*	Price
*/

.price {
	.container {
		margin-bottom: 10px;
		border-bottom: 1px solid $blue;
	}
}

.price_block {
	margin-bottom: 35px;

	h2 {
		font-weight: 600;
		text-transform: uppercase;
		font-size: 12px;
		line-height: 12px;
		margin-bottom: 15px;
		color: $blue;

		@media (--w980) {
			font-size: 16px;
			line-height: 16px;
			margin-bottom: 20px;
		}
	}

	.nb {
		font-size: 11px;
		line-height: 13px;
		margin-top: 7px;
		color: #828282;
	}
}

.price_item {
	font-size: 0;
	margin: 0 -20px 1px;

	& > div {
		display: inline-block;
		vertical-align: top;
		font-size: 13px;
		background-color: #f0f7fc;
		line-height: 15px;
		padding: 6px 20px;
	}



	.price_item__art {
		width: calc(10% - 1px);
		margin-right: 1px;
		text-align: center;
	}

	.price_item__name {
		width: calc(75% - 1px);
		margin-right: 1px;
	}

	.price_item__cost {
		width: 15%;
		color: $blue;
	}


}
