doctype html
html(lang='ru')
    head
        include parts/_meta.jade

    body
        
        include parts/_header.jade
        
        nav.breadcrumbs
            .container
                ul.breadcrumbs_list
                    li
                        a(href="#") Главная
                    li
                        a(href="#" class="lvl2_menu js-open-menu-lvl2" data-submenu="feedback") Отзывы

                    li
                        a(href="#" class="lvl2_menu js-open-menu-lvl2" data-submenu="feedbacktwo") Второйуровень

            .breadcrumbs_list__second_lvl(data-submenu="feedback")
                .container
                    a(href="#") О КЛИНИКЕ
                    a(href="#") ОТДЕЛЕНИЯ И ЦЕНТРЫ
                    a(href="#") ВРАЧИ
                    a(href="#") УСЛУГИ И ЦЕНЫ
                    a(href="#") НОВОСТИ
                    a(href="#") КОНТАКТЫ

            .breadcrumbs_list__second_lvl(data-submenu="feedbacktwo")
                .container
                    a(href="#") О КЛИНИКЕ 2
                    a(href="#") ОТДЕЛЕНИЯ И ЦЕНТРЫ 2
                    a(href="#") ВРАЧИ 2
                    a(href="#") УСЛУГИ И ЦЕНЫ 2
                    a(href="#") НОВОСТИ 2
                    a(href="#") КОНТАКТЫ 2

        section.page_headline
            .container
                h1 МЕЖДУНАРОДНАЯ КЛИНИКА MEDEM
                p.page_headline__text Международная клиника MEDEM — это многопрофильное лечебное учреждение, предоставляющее широкий спектр высокоспециализированных медицинских услуг и уникальную возможность решить большинство проблем со здоровьем в одном учреждении.

        // about
        section.section_about
            .container
            
                .about_big_pic
                    img(src="i/about_big.jpg" alt="")
                    
                .advantages_title Фактически MEDEM является крупным специализированным медицинским центром федерального значения, который имеет ряд преимуществ:    
                    
                .advantages
                    
                    .advantages_item
                        h3 квалификация врачебного персонала
                        p В Международной клинике MEDEM тщательно контролируется образование и уровень квалификации врачебного персонала. Команда профессионалов, из более чем 300 сотрудников, имеет большой профессиональный опыт, высокие научные и квалификационные степени, проходит стажировки и обучение в ведущих клиниках России, Европы и США.
                    
                    .advantages_item
                        h3 квалификация врачебного персонала
                        p В Международной клинике MEDEM тщательно контролируется образование и уровень квалификации врачебного персонала. Команда профессионалов, из более чем 300 сотрудников, имеет большой профессиональный опыт, высокие научные и квалификационные степени, проходит стажировки и обучение в ведущих клиниках России, Европы и США.        
                            
                    .advantages_item
                        h3 квалификация врачебного персонала
                        p В Международной клинике MEDEM тщательно контролируется образование и уровень квалификации врачебного персонала. Команда профессионалов, из более чем 300 сотрудников, имеет большой профессиональный опыт, высокие научные и квалификационные степени, проходит стажировки и обучение в ведущих клиниках России, Европы и США.
                    
                    .advantages_item
                        h3 квалификация врачебного персонала
                        p В Международной клинике MEDEM тщательно контролируется образование и уровень квалификации врачебного персонала. Команда профессионалов, из более чем 300 сотрудников, имеет большой профессиональный опыт, высокие научные и квалификационные степени, проходит стажировки и обучение в ведущих клиниках России, Европы и США.
                    
                    .advantages_item
                        h3 квалификация врачебного персонала
                        p В Международной клинике MEDEM тщательно контролируется образование и уровень квалификации врачебного персонала. Команда профессионалов, из более чем 300 сотрудников, имеет большой профессиональный опыт, высокие научные и квалификационные степени, проходит стажировки и обучение в ведущих клиниках России, Европы и США.        
                            
                    .advantages_item
                        h3 квалификация врачебного персонала
                        p В Международной клинике MEDEM тщательно контролируется образование и уровень квалификации врачебного персонала. Команда профессионалов, из более чем 300 сотрудников, имеет большой профессиональный опыт, высокие научные и квалификационные степени, проходит стажировки и обучение в ведущих клиниках России, Европы и США.
                        
                .mission_banner
                    p 
                        | Миссия Международной клиники MEDEM — обеспечить пациентам высокое качество медицинских услуг. 
                        br 
                        | Главная ценность компании — это здоровье и благополучие ее клиентов.
                        
                    span Международная клиника MEDEM работает 24 часа в сутки, 7 дней в неделю.
                    
                
                .about_big_tizers
                    .about_big_tizer
                        img(src="i/about_block.jpg" class="about_block__pic" alt="")
                        h3 Акции
                        p Коллектив ООО «Международная клиника МЕDЕМ» заинтересован в постоянном повышении уровня обслуживания наших пациентов. Коллектив ООО «Международная клиника МЕDЕМ» заинтересован в постоянном повышении уровня обслуживания наших пациентов.
                        a.showmore(href="#") подробнее
                    .about_big_tizer
                        img(src="i/about_block2.jpg" class="about_block__pic" alt="")
                        h3 Видео
                        p Коллектив ООО «Международная клиника МЕDЕМ» заинтересован в постоянном повышении уровня обслуживания наших пациентов. Коллектив ООО «Международная клиника МЕDЕМ» заинтересован в постоянном повышении уровня обслуживания наших пациентов.
                        a.showmore(href="#") подробнее
                        
                .about_short_tizers
                    .about_short_tizer
                        h3 Вакансии
                        p Стремление «Международной клиники MEDEM» быть лидером в сфере своей деятельности и обладать безупречной репутацией надежного партнера на рынке медицинских услуг.
                        a.showmore(href="#") подробнее
                    .about_short_tizer
                        h3 Система скидок
                        p Стремление «Международной клиники MEDEM» быть лидером в сфере своей деятельности и обладать безупречной репутацией надежного партнера на рынке медицинских услуг.
                        a.showmore(href="#") подробнее
                    .about_short_tizer
                        h3 Документы
                        p Стремление «Международной клиники MEDEM» быть лидером в сфере своей деятельности и обладать безупречной репутацией надежного партнера на рынке медицинских услуг.
                        a.showmore(href="#") подробнее
                

        include parts/_footer.jade
