doctype html
html(lang='ru')
    head
        include parts/_meta.jade

    body
        
        include parts/_header.jade


        
        nav.breadcrumbs
            .container
                ul.breadcrumbs_list
                    li
                        a(href="#") Главная
                    li
                        a(href="#" class="lvl2_menu js-open-menu-lvl2") Новости
            .breadcrumbs_list__second_lvl
                .container
                    a(href="#") О КЛИНИКЕ
                    a(href="#") ОТДЕЛЕНИЯ И ЦЕНТРЫ
                    a(href="#") ВРАЧИ
                    a(href="#") УСЛУГИ И ЦЕНЫ
                    a(href="#") НОВОСТИ
                    a(href="#") КОНТАКТЫ


        section.page_headline
            .container
                h1 Полезные статьи
                p.page_headline__text В Международной клинике MEDEM широко представлены все клинические направления современной медицины, позволяющие осуществлять комплексное обслуживание пациентов в следующих отделениях:

        section.navigation
            .container
                .derection_selector.js-open-deretions-list
                    | отделения

                .decretions_selector_list
                    a(href="#") Компьютерная томография
                    a(href="#") Компьютерная томография
                    a(href="#") Компьютерная томография
                    a(href="#") Компьютерная томография
                    a(href="#") Компьютерная томография
                    a(href="#") Компьютерная томография
                    a(href="#") Компьютерная томография
                    a(href="#") Компьютерная томография
                    a(href="#") Компьютерная томография

                .search_box
                    form(action="#" class="search_box__form")
                        input( class="search_box__input" type="text" placeholder="по ключевому слову")
                        input( class="search_box__submit" type="submit")

        section.sort_by
            .container
                span.sort_by__text cортировать: 
                span.sort_by_btn.active по дате
                span.sort_by_btn.active.invert по названию
                span.sort_by_btn.invert по составителю
        
        section.news_list
            .container


                .news_tizers
                    .news_tizer_one
                        span.date 15.06.2005

                        .rel_height
                            a(href="#")
                                h3 Летние акции и спецпредложения клиники MEDEM
                            p.news_tizer_one__text 
                                |  Уважаемые пациенты, лето - отличная пора для того, чтобы укрепить свое здоровье перед холодным сезоном, вылечить заболевания, что давно тревожат, пройти диагностику или профилактический осмотр...

                        
                        a(href="#").news_tizer_author Древаль Д.А.

                        
                        a.showmore(href="#") подробнее

                    .news_tizer_one
                        span.date 15.06.2005

                        .rel_height
                            a(href="#")
                                h3 Первая помощь в случае остановки сердца или дыхания
                            p.news_tizer_one__text 
                                |  Лето - прекрасная пора положительных эмоций и долгожданных отпусков. Однако, кроме приятных моментов, лето таит в себе и некоторые опасности...

                        a(href="#").news_tizer_author Древаль Д.А.

                        a.showmore(href="#") подробнее


                    .news_tizer_one
                        span.date 15.06.2005
                        
                        .rel_height
                            a(href="#")
                                h3 Клиника MEDEM выступила официальным партнером XX Петербургского губернаторского теннисного турнира
                            p.news_tizer_one__text 
                                |  Международная клиника MEDEM в этом году выступила официальным партнером мероприятия и подготовила победителям турнира особые подарки — именные сертификаты на оказание медицинских услуг...
                        a.showmore(href="#") подробнее

                    .news_tizer_one
                        span.date 15.06.2005

                        .rel_height
                            a(href="#")
                                h3 Летние акции и спецпредложения клиники MEDEM
                            p.news_tizer_one__text 
                                |  Уважаемые пациенты, лето - отличная пора для того, чтобы укрепить свое здоровье перед холодным сезоном, вылечить заболевания, что давно тревожат, пройти диагностику или профилактический осмотр...
                        
                        a.showmore(href="#") подробнее


                    .news_tizer_one
                        span.date 15.06.2005

                        .rel_height
                            a(href="#")
                                h3 Первая помощь в случае остановки сердца или дыхания
                            p.news_tizer_one__text 
                                |  Лето - прекрасная пора положительных эмоций и долгожданных отпусков. Однако, кроме приятных моментов, лето таит в себе и некоторые опасности...
                        a.showmore(href="#") подробнее


                    .news_tizer_one
                        span.date 15.06.2005
                        
                        .rel_height
                            a(href="#")
                                h3 Клиника MEDEM выступила официальным партнером XX Петербургского губернаторского теннисного турнира
                            p.news_tizer_one__text 
                                |  Международная клиника MEDEM в этом году выступила официальным партнером мероприятия и подготовила победителям турнира особые подарки — именные сертификаты на оказание медицинских услуг...
                        a.showmore(href="#") подробнее

                    .news_tizer_one
                        span.date 15.06.2005

                        .rel_height
                            a(href="#")
                                h3 Летние акции и спецпредложения клиники MEDEM
                            p.news_tizer_one__text 
                                |  Уважаемые пациенты, лето - отличная пора для того, чтобы укрепить свое здоровье перед холодным сезоном, вылечить заболевания, что давно тревожат, пройти диагностику или профилактический осмотр...
                        
                        a.showmore(href="#") подробнее

                    .news_tizer_one
                        span.date 15.06.2005

                        .rel_height
                            a(href="#")
                                h3 Первая помощь в случае остановки сердца или дыхания
                            p.news_tizer_one__text 
                                |  Лето - прекрасная пора положительных эмоций и долгожданных отпусков. Однако, кроме приятных моментов, лето таит в себе и некоторые опасности...
                        a.showmore(href="#") подробнее


                    .news_tizer_one
                        span.date 15.06.2005
                        
                        .rel_height
                            a(href="#")
                                h3 Клиника MEDEM выступила официальным партнером XX Петербургского губернаторского теннисного турнира
                            p.news_tizer_one__text 
                                |  Международная клиника MEDEM в этом году выступила официальным партнером мероприятия и подготовила победителям турнира особые подарки — именные сертификаты на оказание медицинских услуг...
                        a.showmore(href="#") подробнее

                .pager
                    .arr_left
                    a(href="#").active 1
                    span |
                    a(href="#") 2
                    span |
                    a(href="#") 3
                    span |
                    a(href="#") 4
                    .arr_right





        

        include parts/_footer.jade