doctype html
html(lang='ru')
    head
        include parts/_meta.jade

    body
        
        include parts/_header.jade


        
        nav.breadcrumbs
            .container
                ul.breadcrumbs_list
                    li
                        a(href="#") Главная
                    li
                        a(href="#") О компании
                    li
                        a(href="#" class="lvl2_menu js-open-menu-lvl2") Система скидок
            .breadcrumbs_list__second_lvl
                .container
                    a(href="#") О КЛИНИКЕ
                    a(href="#") ОТДЕЛЕНИЯ И ЦЕНТРЫ
                    a(href="#") ВРАЧИ
                    a(href="#") УСЛУГИ И ЦЕНЫ
                    a(href="#") НОВОСТИ
                    a(href="#") КОНТАКТЫ

        section.section_content
            .container
                h1 Система скидок
                .content_block
                    

                    .content__text
                        p Международная клиника MEDEM — крупнейший в Санкт-Петербурге частный медицинский центр, который предоставляет самый широкий спектр высокоспециализированных медицинских услуг и дает уникальную возможность решить большинство проблем со здоровьем в одном месте.

                        h2 Мы предлагаем:

                        p - Достойную оплату труда
                            br
                            |- Разнообразные графики работы
                            br
                            |- Расположение в самом центре Санкт-Петербурга, рядом с метро
                            br
                            |- Официальное оформление
                            br
                            |- Скидки на услуги Клиники для работников и родственников

                        h3 Если Вас заинтересовала какая-либо вакансия, или Вы просто хотите у нас работать:

                        p Пришлите подробное резюме на адрес: vacancy@medem.ru или откликнитесь на наши предложения на сайтах поиска работы на www.hh.ru или www.superjob.ru, либо просто позвоните по телефону (812) 336 3338 и мы ответим на все Ваши вопросы.

                        p В случае, когда текущих вакансий нет, мы поместим Ваше резюме в Базу данных, и при открытии вакансии, на которую Вы претендуете, обязательно с Вами свяжемся.

                    .content__pic
                        img(src="i/content_page__vacancy.jpg", alt="")

        

        include parts/_footer.jade
