doctype html
html(lang='ru')
    head
        include parts/_meta.jade

    body
        
        include parts/_header.jade


        
        nav.breadcrumbs
            .container
                ul.breadcrumbs_list
                    li
                        a(href="#") Главная
                    li
                        a(href="#" class="lvl2_menu js-open-menu-lvl2") Отзывы
            .breadcrumbs_list__second_lvl
                .container
                    a(href="#") О КЛИНИКЕ
                    a(href="#") ОТДЕЛЕНИЯ И ЦЕНТРЫ
                    a(href="#") ВРАЧИ
                    a(href="#") УСЛУГИ И ЦЕНЫ
                    a(href="#") НОВОСТИ
                    a(href="#") КОНТАКТЫ


        section.section_appointment
            .container
                h1 Оставить отзыв
                p.section_appointment_header 
                    | текст текст текст текст текст текст текст текст текст текст текст 
                    br
                    br
                    | текст текст текст текст текст текст текст текст текст текст текст 
                    br
                    br
                    b wefwefwefewfwefwefwfwef
                


                form(action="" class="big_appointment_form")

                    .form_line.blue

                    

                    .baf_container

                        .baf_half

                            label.mdm_input 
                                span Текст отзыва
                                    i *
                                textarea.mdm_textarea.feedback_text(id="")

                            label.mdm_input 
                                span Тут будет селект
                                input.mdm_input(type="text" id="")

                            p.mdm_undertext Адрес используется для связи с Вами 

                            


                        .baf_half

                            label.mdm_input 
                                span Фамилия, имя, отчество 
                                    i *
                                input.mdm_input(type="text" id="" required)

                            p.mdm_undertext Адрес используется для связи с Вами Адрес используется для связи с Вами Адрес используется для связи с Вами Адрес используется для связи с Вами Адрес используется для связи с Вами Адрес используется для связи с Вами
                                br
                                | Адрес используется для связи с Вами Адрес используется для связи с Вами Адрес используется для связи с Вами Адрес используется для связи с Вами Адрес используется для связи с Вами Адрес используется для связи с Вами



                            label.mdm_input 
                                span E-mail
                                input.mdm_input(type="text" id="")

                            p.mdm_undertext Адрес используется для связи с Вами 


                            


                    .form_line

                    

                    .baf_container



                        .baf_half

                            p.form_textline
                                | Защита от автоматического заполнения:

                            .captcha
                                img(src="i/captcha.jpg", alt="")

                                label.mdm_input.captcha_input
                                    span Введите символы с картинки 
                                        i *
                                    input.mdm_input(type="text" id="" required)

                        .baf_half
                            p.form_textline
                                i * 
                                | Поля, обязательные для заполнения
                            label.mdm_submit
                                span.mdm_submit_arr
                                input(type="submit" id="" value="Отправить")

                    .form_line



       



        

        include parts/_footer.jade