doctype html
html(lang='ru')
    head
        include parts/_meta.jade

    body
        
        include parts/_header.jade

        nav.breadcrumbs
            .container
                ul.breadcrumbs_list
                    li
                        a(href="#") Главная
                    li
                        a(href="#" class="lvl2_menu js-open-menu-lvl2" data-submenu="feedback") Форум

            .breadcrumbs_list__second_lvl(data-submenu="feedback")
                .container
                    a(href="#") О КЛИНИКЕ
                    a(href="#") ОТДЕЛЕНИЯ И ЦЕНТРЫ
                    a(href="#") ВРАЧИ
                    a(href="#") УСЛУГИ И ЦЕНЫ
                    a(href="#") НОВОСТИ
                    a(href="#") КОНТАКТЫ

        section.page_headline
            .container
                h1 Форум
                p.page_headline__text На этом форуме Вы можете задать вопросы специалистам клиники "MEDEM"

        // derection
        section.forum
            .container
            
                .forum_nav
                    a(href="#") Поиск
                    a(href="#") Пользователи
                    a(href="#") Войти
                    
                .forum_block
                    .forum_row.title
                        .forum_c1 
                            
                        .forum_c2
                            | Название форума
                        .forum_c3
                            | Темы
                        .forum_c4
                            | Сообщ.
                        .forum_c5
                            | Обновления
                            
                    .forum_row
                        .forum_c1 
                            .forum_icon.is-unread
                        .forum_c2
                            a(href="#") Анестезиология, реанимация и интенсивная терапия
                        .forum_c3
                            | 2
                        .forum_c4
                            | 4
                        .forum_c5
                            a(href="#") ГЭРБ и LINX системы (Служба сервиса MEDEM)
                            span 16.01.2015 10:54:43
                            
                    .forum_row
                        .forum_c1 
                            .forum_icon
                        .forum_c2
                            a(href="#") Анестезиология, реанимация и интенсивная терапия
                        .forum_c3
                            | 2
                        .forum_c4
                            | 4
                        .forum_c5
                            a(href="#") ГЭРБ и LINX системы (Служба сервиса MEDEM)
                            span 16.01.2015 10:54:43
                    
                    .forum_row
                        .forum_c1 
                            .forum_icon
                        .forum_c2
                            a(href="#") Анестезиология, реанимация и интенсивная терапия
                        .forum_c3
                            | 2
                        .forum_c4
                            | 4
                        .forum_c5
                            a(href="#") ГЭРБ и LINX системы (Служба сервиса MEDEM)
                            span 16.01.2015 10:54:43
                            
                            
                    .forum_row
                        .forum_c1 
                            .forum_icon.is-unread
                        .forum_c2
                            a(href="#") Анестезиология, реанимация и интенсивная терапия
                        .forum_c3
                            | 2
                        .forum_c4
                            | 4
                        .forum_c5
                            a(href="#") ГЭРБ и LINX системы (Служба сервиса MEDEM)
                            span 16.01.2015 10:54:43
                            
                    .forum_row
                        .forum_c1 
                            .forum_icon
                        .forum_c2
                            a(href="#") Анестезиология, реанимация и интенсивная терапия
                        .forum_c3
                            | 2
                        .forum_c4
                            | 4
                        .forum_c5
                            a(href="#") ГЭРБ и LINX системы (Служба сервиса MEDEM)
                            span 16.01.2015 10:54:43
                    
                    .forum_row
                        .forum_c1 
                            .forum_icon
                        .forum_c2
                            a(href="#") Анестезиология, реанимация и интенсивная терапия
                        .forum_c3
                            | 2
                        .forum_c4
                            | 4
                        .forum_c5
                            a(href="#") ГЭРБ и LINX системы (Служба сервиса MEDEM)
                            span 16.01.2015 10:54:43
                            
                    .forum_statistics
                        p Сейчас на форуме (гостей: 2, пользователей: 1, из них скрытых: 0)
                            br
                            | Всего зарегистрированных пользователей: 8534
                            br
                            | Приняло участие в обсуждении: 573
                            br
                            | Всего тем: 429
                            br
                            | Всего сообщений: 1326
                            
                




                        
                
                
        

 
        

        include parts/_footer.jade
