doctype html
html(lang='ru')
    head
        include parts/_meta.jade

    body
        
        include parts/_header.jade

        
        // test links
        section.test
          .container

            ul(style="margin: 200px")
                

                li
                    a(href="main.html") main.html

                li
                    a(href="derections.html") derections.html

                li
                    a(href="doctors.html") doctors.html

                li
                    a(href="doctors__one.html") doctors__one.html

                li
                    a(href=" content_page__vacancy.html")  content_page__vacancy.html

                li
                    a(href=" content_page__skidki.html")  content_page__skidki.html

                
                li
                    a(href="news.html") news.html

                li
                    a(href="news__one.html") news__one.html

                li
                    a(href="actions.html") actions.html

                li
                    a(href="actions__one.html") actions__one.html

                li
                    a(href="articles.html") articles.html

                li
                    a(href="articles__one.html") articles__one.html

                li
                    a(href="zapis.html") zapis.html

                li
                    a(href="feedback_all.html") feedback_all.html

                br
                br
                | старые страницы (пока не трогать, не переработано)
                br
                br


                li
                    a(href="about.html") about.html

                li
                    a(href="contacts.html") contacts.html

      
        include parts/_footer.jade