doctype html
html(lang='ru')
    head
        include parts/_meta.jade

    body
        
        include parts/_header.jade


        // section big slider
        section.big_slider
            .container
                .swiper-container.js-big-slider
                    .swiper-wrapper

                        .swiper-slide 
                            .one_big_slide
                                
                                img(src="i/big_slider_pic.jpg", alt="").big_slide_pic
                                .container
                                    h2 Медицина для тех, 
                                        br
                                        | кто ценит качество!
                                    p Команда наших врачей и консультантов включает лучших специалистов Санкт-Петербурга, Москвы и зарубежных стран.
                                    

                        .swiper-slide 
                            .one_big_slide
                                
                                img(src="i/big_slider_pic.jpg", alt="").big_slide_pic
                                .container
                                    h2 Медицина для тех, 
                                        br
                                        | кто ценит качество!
                                    p Команда наших врачей и консультантов включает лучших специалистов Санкт-Петербурга, Москвы и зарубежных стран.
                                    

                        .swiper-slide 
                            .one_big_slide
                                
                                img(src="i/big_slider_pic.jpg", alt="").big_slide_pic
                                .container
                                    h2 Медицина для тех, 
                                        br
                                        | кто ценит качество!
                                    p Команда наших врачей и консультантов включает лучших специалистов Санкт-Петербурга, Москвы и зарубежных стран.
                                    

                    .swiper-pagination


        // section derections
        section.derections_list
            .container
                .slider_holster.derections_list_slider
                    .swiper-container.js-derections-slider
                        .swiper-wrapper
                            .swiper-slide 
                                .derections_list__item
                                    img(src="i/derection_list__item.jpg" alt="" class="derections_list__pic")
                                    span(class="derections_list__spec") Гастроэнтерология

                            .swiper-slide 
                                .derections_list__item
                                    img(src="i/derection_list__item.jpg" alt="" class="derections_list__pic")
                                    span(class="derections_list__spec") Гастроэнтерология

                            .swiper-slide 
                                .derections_list__item
                                    img(src="i/derection_list__item.jpg" alt="" class="derections_list__pic")
                                    span(class="derections_list__spec") Гастроэнтерология

                            .swiper-slide 
                                .derections_list__item
                                    img(src="i/derection_list__item.jpg" alt="" class="derections_list__pic")
                                    span(class="derections_list__spec") Гастроэнтерология

                            .swiper-slide 
                                .derections_list__item
                                    img(src="i/derection_list__item.jpg" alt="" class="derections_list__pic")
                                    span(class="derections_list__spec") Гастроэнтерология

                    .swiper-button-next.derections_list-button-next
                    .swiper-button-prev.derections_list-button-prev


        // section info
        section.section_info
            .container

                h2 Международная клиника MEDEM

                .info_text 
                    p Современный многопрофильный медицинский центр, оказывающих все виды медицинских услуг по самым высоким мировым стандартам.
                    p За 15 лет практики, клиника заслужила доверие известных деятелей культуры, бизнеса и политики, жителей и гостей Санкт-Петербурга, ценящих высокое качество услуг и комфортную атмосферу нашего медицинского центра.

                    a(href="#").btn Подробнее
                  

        // section doctors
        section.doctors_list
            .container
                .slider_holster.doctors_list_slider
                    .swiper-container.js-doctor-slider
                        .swiper-wrapper
                            .swiper-slide 
                                .doctors_list__item
                                    img(src="i/doctors_list__item.jpg" alt="" class="doctors_list__pic")
                                    p(class="doctors_list__name") Фамилия Имя Отчество
                                    span(class="doctors_list__spec") Гастроэнтерология
                            .swiper-slide 
                                .doctors_list__item
                                    img(src="i/doctors_list__item.jpg" alt="" class="doctors_list__pic")
                                    p(class="doctors_list__name") Константинопольский Константин
                                    span(class="doctors_list__spec") Гастроэнтерология
                            .swiper-slide 
                                .doctors_list__item
                                    img(src="i/doctors_list__item.jpg" alt="" class="doctors_list__pic")
                                    p(class="doctors_list__name") Фамилия Имя Отчество
                                    span(class="doctors_list__spec") Гастроэнтерология

                            .swiper-slide 
                                .doctors_list__item
                                    img(src="i/doctors_list__item.jpg" alt="" class="doctors_list__pic")
                                    p(class="doctors_list__name") Фамилия Имя Отчество
                                    span(class="doctors_list__spec") Гастроэнтерология

                            .swiper-slide 
                                .doctors_list__item
                                    img(src="i/doctors_list__item.jpg" alt="" class="doctors_list__pic")
                                    p(class="doctors_list__name") Фамилия Имя Отчество
                                    span(class="doctors_list__spec") Гастроэнтерология

                            .swiper-slide 
                                .doctors_list__item
                                    img(src="i/doctors_list__item.jpg" alt="" class="doctors_list__pic")
                                    p(class="doctors_list__name") Фамилия Имя Отчество
                                    span(class="doctors_list__spec") Гастроэнтерология

                            .swiper-slide 
                                .doctors_list__item
                                    img(src="i/doctors_list__item.jpg" alt="" class="doctors_list__pic")
                                    p(class="doctors_list__name") Фамилия Имя Отчество
                                    span(class="doctors_list__spec") Гастроэнтерология

                    .swiper-button-next.doctors_list-button-next
                    .swiper-button-prev.doctors_list-button-prev


        // section info
        // section.section_info-tips
            .container
                .slider_holster.info-tips-slider
                    .swiper-container.js-slider-info-tips
                        .swiper-wrapper
                            .swiper-slide 
                                .info_tip
                                    img(src="i/info_pic1.jpg", alt="")
                                    h3 Клинические отделения и центры
                                    p Широко представлены все клинические направления современной медицины, позволяющие осуществлять комплексное обслуживание.
                                    a.showmore(href="#") подробнее

                            .swiper-slide 
                                .info_tip
                                    img(src="i/info_pic2.jpg", alt="")
                                    h3 Диагностические отделения
                                    p Концентрация и широкий спектр диагностической аппаратуры в клинике позволяет проводить комплексный подход к диагностике заболеваний.
                                    a.showmore(href="#") подробнее

                            .swiper-slide 
                                .info_tip
                                    img(src="i/info_pic3.jpg", alt="")
                                    h3 Педиатрия
                                    p У ребенка любого возраста должен быть личный педиатр. Свой доктор – это член семьи, который всегда с вами.
                                    a.showmore(href="#") подробнее

                            .swiper-slide 
                                .info_tip
                                    img(src="i/info_pic1.jpg", alt="")
                                    h3 Клинические отделения и центры
                                    p Широко представлены все клинические направления современной медицины, позволяющие осуществлять комплексное обслуживание.
                                    a.showmore(href="#") подробнее

                            .swiper-slide 
                                .info_tip
                                    img(src="i/info_pic2.jpg", alt="")
                                    h3 Диагностические отделения
                                    p Концентрация и широкий спектр диагностической аппаратуры в клинике позволяет проводить комплексный подход к диагностике заболеваний.
                                    a.showmore(href="#") подробнее

                            .swiper-slide 
                                .info_tip
                                    img(src="i/info_pic3.jpg", alt="")
                                    h3 Педиатрия
                                    p У ребенка любого возраста должен быть личный педиатр. Свой доктор – это член семьи, который всегда с вами.
                                    a.showmore(href="#") подробнее

                    .swiper-button-next.info_tip-button-next
                    .swiper-button-prev.info_tip-button-prev

                a(href="#").btn.wide Все отделения и центры


        section.service_blocks
            .container
                .service_wide
                    img(src="i/service_wide.jpg", alt="")
                    .service_wide__content
                        h2 УСЛУГИ И ЦЕНЫ
                        p Мы рады предложить вам пройти лечение в клиниках МЕДЕМ на выгодных для вас условиях.
                .service_title
                    p Акции и Спецпредложения
                .service_shorts
                    .service_shorts__half
                        img(src="i/service_short1.jpg", alt="")
                        .service_shorts__content
                            span 2 мая–30 июня 2016
                            h3 −15% на плазмотерапию PRP
                            p Скидка 15% на ботокс для владельцев дисконтных карт МЕДЕМ действует дополнительная скидка.

                    .service_shorts__half
                        img(src="i/service_short2.jpg", alt="")
                        .service_shorts__content
                            span 2 мая–30 июня 2016
                            h3 −15% на плазмотерапию PRP
                            p Скидка 15% на ботокс для владельцев дисконтных карт МЕДЕМ действует дополнительная скидка.

        include blocks/section_news.jade               
        
        include parts/_footer.jade