doctype html
html(lang='ru')
    head
        include parts/_meta.jade

    body
        
        include parts/_header.jade


        big_slider_pic.jpg


        // section big slider
        section.big_slider
            .swiper-container.js-big-slider
                .swiper-wrapper

                    .swiper-slide 
                        .one_big_slide
                            .big_slide_pic(style="background-image: url(i/big_slider_pic.jpg)")
                            .container
                                h2 Медицина для тех, 
                                    br
                                    | кто ценит качество!
                                p Команда наших врачей и консультантов включает лучших специалистов Санкт-Петербурга, Москвы и зарубежных стран.
                                a(href="#").showmore подробнее
                                hr
                                a(href="#").all_links Все акции и спецпредложения

                    .swiper-slide 
                        .one_big_slide
                            .big_slide_pic(style="background-image: url(i/big_slider_pic.jpg)")
                            .container
                                h2 Медицина для тех,
                                    br
                                    | кто ценит качество!
                                p Команда наших врачей и консультантов включает лучших специалистов Санкт-Петербурга, Москвы и зарубежных стран.
                                a(href="#").showmore подробнее
                                hr
                                a(href="#").all_links Все акции и спецпредложения

                    .swiper-slide 
                        .one_big_slide
                            .big_slide_pic(style="background-image: url(i/big_slider_pic.jpg)")
                            .container
                                h2 Медицина для тех,
                                    br
                                    | кто ценит качество!
                                p Команда наших врачей и консультантов включает лучших специалистов Санкт-Петербурга, Москвы и зарубежных стран.
                                a(href="#").showmore подробнее
                                hr
                                a(href="#").all_links Все акции и спецпредложения

                .swiper-pagination


        // section info
        section.section_info
            .container

                h2 Международная клиника MEDEM

                .info_text 
                    p Современный многопрофильный медицинский центр, оказывающих все виды медицинских услуг по самым высоким мировым стандартам.
                    p За 15 лет практики, клиника заслужила доверие известных деятелей культуры, бизнеса и политики, жителей и гостей Санкт-Петербурга, ценящих высокое качество услуг и комфортную атмосферу нашего медицинского центра.

                    a(href="#").btn Подробнее


                .swiper-container.js-slider-info-tips
                    .swiper-wrapper

                        .swiper-slide 
                            .info_tip
                                img(src="i/info_pic1.jpg", alt="")
                                h3 Клинические отделения и центры
                                p Широко представлены все клинические направления современной медицины, позволяющие осуществлять комплексное обслуживание.
                                a.showmore(href="#") подробнее

                        .swiper-slide 
                            .info_tip
                                img(src="i/info_pic2.jpg", alt="")
                                h3 Диагностические отделения
                                p Концентрация и широкий спектр диагностической аппаратуры в клинике позволяет проводить комплексный подход к диагностике заболеваний.
                                a.showmore(href="#") подробнее

                        .swiper-slide 
                            .info_tip
                                img(src="i/info_pic3.jpg", alt="")
                                h3 Педиатрия
                                p У ребенка любого возраста должен быть личный педиатр. Свой доктор – это член семьи, который всегда с вами.
                                a.showmore(href="#") подробнее

                        .swiper-slide 
                            .info_tip
                                img(src="i/info_pic1.jpg", alt="")
                                h3 Клинические отделения и центры
                                p Широко представлены все клинические направления современной медицины, позволяющие осуществлять комплексное обслуживание.
                                a.showmore(href="#") подробнее

                        .swiper-slide 
                            .info_tip
                                img(src="i/info_pic2.jpg", alt="")
                                h3 Диагностические отделения
                                p Концентрация и широкий спектр диагностической аппаратуры в клинике позволяет проводить комплексный подход к диагностике заболеваний.
                                a.showmore(href="#") подробнее

                        .swiper-slide 
                            .info_tip
                                img(src="i/info_pic3.jpg", alt="")
                                h3 Педиатрия
                                p У ребенка любого возраста должен быть личный педиатр. Свой доктор – это член семьи, который всегда с вами.
                                a.showmore(href="#") подробнее

                    .swiper-button-next

                    .swiper-button-prev

                a(href="#").btn.wide Все отделения и центры

        
        // section news
        section.section_news
            .container

                h2 Новости клиники

                .news_tizers

                    .news_tizer_one
                        span.date 15.06.2005

                        .rel_height
                            a(href="#")
                                h3 Летние акции и спецпредложения клиники MEDEM
                            p.news_tizer_one__text 
                                |  Уважаемые пациенты, лето - отличная пора для того, чтобы укрепить свое здоровье перед холодным сезоном, вылечить заболевания, что давно тревожат, пройти диагностику или профилактический осмотр...
                        
                        a.showmore(href="#") подробнее

                    .news_tizer_one
                        span.date 15.06.2005

                        .rel_height
                            a(href="#")
                                h3 Первая помощь в случае остановки сердца или дыхания
                            p.news_tizer_one__text 
                                |  Лето - прекрасная пора положительных эмоций и долгожданных отпусков. Однако, кроме приятных моментов, лето таит в себе и некоторые опасности...
                        a.showmore(href="#") подробнее


                    .news_tizer_one
                        span.date 15.06.2005
                        
                        .rel_height
                            a(href="#")
                                h3 Клиника MEDEM выступила официальным партнером XX Петербургского губернаторского теннисного турнира
                            p.news_tizer_one__text 
                                |  Международная клиника MEDEM в этом году выступила официальным партнером мероприятия и подготовила победителям турнира особые подарки — именные сертификаты на оказание медицинских услуг...
                        a.showmore(href="#") подробнее


                a(href="#").btn вcе новости


                
        
        include parts/_footer.jade