doctype html
html(lang='ru')
    head
        include parts/_meta.jade

    body
        
        include parts/_header.jade


        
        nav.breadcrumbs
            .container
                ul.breadcrumbs_list
                    li
                        a(href="#") Главная
                    li
                        a(href="#" class="lvl2_menu js-open-menu-lvl2") Новости
            .breadcrumbs_list__second_lvl
                .container
                    a(href="#") О КЛИНИКЕ
                    a(href="#") ОТДЕЛЕНИЯ И ЦЕНТРЫ
                    a(href="#") ВРАЧИ
                    a(href="#") УСЛУГИ И ЦЕНЫ
                    a(href="#") НОВОСТИ
                    a(href="#") КОНТАКТЫ

        
        section.news_list
            .container
                h2 Новости

                .news_tizer_big
                    
                    .news_tizer_big__pic
                        img(src="i/news_tizer_big.jpg", alt="")

                    .news_tizer_big__content
                        span.date 15.06.2005

                        .rel_height
                            a(href="#")
                                h3 Летние акции и спецпредложения клиники MEDEM Летние акции и спецпредложения клиники MEDEM Летние акции и спецпредложения клиники MEDEM Летние акции и спецпредложения клиники MEDEM
                            p.news_tizer_one__text 
                                |  Уважаемые пациенты, 
                        
                        a.showmore(href="#") подробнее

                .news_tizers
                    .news_tizer_row
                        .news_tizer_one
                            span.date 15.06.2005

                            .rel_height
                                a(href="#")
                                    h3 Летние акции и спецпредложения клиники MEDEM
                                p.news_tizer_one__text 
                                    |  Уважаемые пациенты, лето
                            
                            a.showmore(href="#") подробнее

                        .news_tizer_one
                            span.date 15.06.2005

                            .rel_height
                                a(href="#")
                                    h3 Первая помощь в случае остановки сердца или дыханияЛетние акции и спецпредложения клиники MEDEMЛетние акции и спецпредложения клиники MEDEMЛетние акции и спецпредложения клиники MEDEM
                                p.news_tizer_one__text 
                                    |  Лето - прекрасная пора положительных эмоций и долгожданных отпусков. Однако, кроме приятных моментов, лето таит в себе и некоторые опасности...
                            a.showmore(href="#") подробнее


                        .news_tizer_one
                            span.date 15.06.2005
                            
                            .rel_height
                                a(href="#")
                                    h3 Клиника MEDEM выступила официальным партнером XX Петербургского губернаторского теннисного турнира
                                p.news_tizer_one__text 
                                    |  Международная клиника MEDEM в этом году выступила официальным партнером мероприятия и подготовила победителям турнира особые подарки — именные сертификаты на оказание медицинских услуг...
                            a.showmore(href="#") подробнее

                    .news_tizer_row
                        .news_tizer_one
                            span.date 15.06.2005

                            .rel_height
                                a(href="#")
                                    h3 Летние акции и спецпредложения клиники MEDEM
                                p.news_tizer_one__text 
                                    |  Уважаемые пациенты, лето - отличная пора для того, чтобы укрепить свое здоровье перед холодным сезоном, вылечить заболевания, что давно тревожат, пройти диагностику или профилактический осмотр...
                            
                            a.showmore(href="#") подробнее

                        .news_tizer_one
                            span.date 15.06.2005

                            .rel_height
                                a(href="#")
                                    h3 Первая помощь в случае остановки сердца или дыхания
                                p.news_tizer_one__text 
                                    |  Лето - прекрасная пора положительных эмоций и долгожданных отпусков. Однако, кроме приятных моментов, лето таит в себе и некоторые опасности...
                            a.showmore(href="#") подробнее


                        .news_tizer_one
                            span.date 15.06.2005
                            
                            .rel_height
                                a(href="#")
                                    h3 Клиника MEDEM выступила официальным партнером XX Петербургского губернаторского теннисного турнира
                                p.news_tizer_one__text 
                                    |  Международная клиника MEDEM в этом году выступила официальным партнером мероприятия и подготовила победителям турнира особые подарки — именные сертификаты на оказание медицинских услуг...
                            a.showmore(href="#") подробнее

                    .news_tizer_row
                        .news_tizer_one
                            span.date 15.06.2005

                            .rel_height
                                a(href="#")
                                    h3 Летние акции и спецпредложения клиники MEDEM Летние акции и спецпредложения клиники MEDEMЛетние акции и спецпредложения клиники MEDEMЛетние акции и спецпредложения клиники MEDEM
                                p.news_tizer_one__text 
                                    |  Уважаемые пациенты, лето - отличная пора для того, чтобы укрепить свое здоровье перед холодным сезоном, вылечить заболевания, что давно тревожат, пройти диагностику или профилактический осмотр...
                            
                            a.showmore(href="#") подробнее

                        .news_tizer_one
                            span.date 15.06.2005

                            .rel_height
                                a(href="#")
                                    h3 Первая помощь в случае остановки сердца или дыхания
                                p.news_tizer_one__text 
                                    |  Лето - прекрасная пора положительных 
                            a.showmore(href="#") подробнее


                        .news_tizer_one
                            span.date 15.06.2005
                            
                            .rel_height
                                a(href="#")
                                    h3 Клиника MEDEM выступила официальным партнером XX Петербургского губернаторского теннисного турнира Клиника MEDEM выступила официальным партнером XX Петербургского губернаторского теннисного турнира
                                p.news_tizer_one__text 
                                    |  Международная клиника MEDEM в этом году выступила официальным партнером мероприятия и подготовила победителям турнира особые подарки — именные сертификаты на оказание медицинских услуг...
                            a.showmore(href="#") подробнее

                include blocks/pager.jade





        

        include parts/_footer.jade